article#150920
	header
		h2 September 20, 2015
		h1 Minnesota Rangers Top Broncos in Exhibition
		h3 By Jake Moening
	a(href='/fullimage/headlines/rookie-game.jpg') 
		img(src='../images/headlines/rookie-game.jpg')
	p.
		In a hard fought battle between the two teams the rangers came
		out on top with a final score of 93 to 92. 
