article
	header
		h2 January 9, 2016
		h1 Rangers Name New Owner
	img(src='../images/headlines/new-owner.jpg')
	p.
		The Rangers welcomed Latisha Moening as the newest member of the 
		ownership group today. Moening has been with the team and on the 
		board since July in the role of Community Relations Director and 
		decided to take on a larger role in the organization after spending 
		the past few months helping out with more of the day to day work 
		within the organization. 
