article#042716
	header
		h2 April 27, 2016
		h1 Preview: Rangers vs. Storm
	img(src='../images/headlines/teambvsr.jpg')
	p.
		The Rangers are on the road this weekend headed to Milwaukee to take on the 
		Wisconsin Storm Saturday April 30th. After a dominant showing at home during 
		week one the Rangers are looking to make it two straight as they begin a 
		three game stretch on the road. The Storm, on the other hand, fell to the 
		Chicago Fury last week (106-89) and will be looking to make up ground and 
		get their first win of the season. This will be the first of a three game 
		season series with the Storm.
	p Players to watch: 
		li. 
			Kenny Bass (G) really lit things up for the Rangers coming in just shy of 
			a triple double (17 points / 10 assists / 8 steals) shooting 70% from the 
			field and will likely be another huge weapon on offense this week. 
		li.
			Chris McHenry (G) of the Storm wasn’t shy last week with the triples 
			shooting 4 of 9 for 44.4%. If the trend continues he will be a real threat 
			on the perimeter.
		li.
			Against the Broncos, 6th man Damien Lolar (F) was unstoppable shooting 100% 
			(7 of 7 plus 2 of 2 beyond the arc) to end the game with 21 points. Look 
			to see him help lift the Rangers again this week.
	p Numbers:
		li 33 and 17 - The number of points by which the Rangers won and Storm lost their home openers respectively.  
		li 1st - This is the 1st road game in Rangers history.
		li 48.7 - Rangers left a lot of points out there against the broncos shooting a rough 48.7% from the charity stripe last game and will hope to improve this week.

	p Injuries / Absences:
		br
		br
		| The Rangers report no injuries. Roc Rogers (F) and Tim Lott (F) will be absent for personal reasons. The Storm was unavailable to report at time of publication.


