article#160423
	header
		h2 April 23, 2016
		h1 Summary: Rangers vs. Broncos
		h3 By Jake Moening
	img(src='../images/headlines/broncos1.jpg')
	p.
		The Minnesota Rangers came out with a big win for their league and season 
		debut this past Saturday over the another new MBL squad the Minnesota Broncos. 
	p.
		With a standing-room only crowd at the Oxford Community Center the two 
		western conference contenders were set to kick off their seasons with a bang. 
		What started as a close game, in the end, found the Rangers running away with 
		it 115 - 82.
	p.
		It was a sweet victory for the Rangers who take to the road now for the 
		next three games starting with the Wisconsin Storm. 
