article
	header
		h2 April 14, 2016
		h1 Home Opener Just Days Away
	img(src='../images/headlines/home-opener.jpg')
	p.
		The Rangers prepare to take on local rivals the Minnesota
		Broncos in the 2016 season opener at Oxford Community Center. This
		will be the first of a three game season series between the two 
		Minnesota teams and will be important as the Rangers begin a long stretch
		of road games before they return to Oxford Community Center on the 28th of
		May to take on the Cedar Valley Court Kings. 
	p Tickets go on sale at the door 
		strong cash only 
		| $10 for adults and $5 for kids 
		|	(under 4 are free) for more details be sure to check out 
		a(href="https://goo.gl/gtZLHL") the official event listing on Facebook.
