article#160418
	header
		h2 April 18, 2016
		h1 Preview: Rangers vs. Broncos
		h3 By Jake Moening
	img(src='../images/logo.svg')
	p.
		With questions about the roster settled and a few months of hard work 
		in the bag during the offseason, the Minnesota Rangers are ready to take to 
		the court this Saturday the 23rd for their inaugural season. They will square off against 
		another team new to the Midwest Basketball League (MBL), the Minnesota Broncos. 
		These two teams have met in their various stages of construction during the 
		offseason, and have a unique bit of shared history.  Many of the players from 
		the Broncos and the Ranger have played together outside the league due to their 
		close proximity. This extra familiarity between the teams should lend some added 
		intensity and excitement to the opening matchup.

	p.
		Both teams will be looking to make a good impression by kicking off the season
		with a win to help jumpstart their respective fanbases. The Rangers will be 
		taking their show on the road for three games following the opener against
		the broncos and the upcoming games in Wisconsin and Illinois would benefit 
		from the confidence boost of an early win on their home court. 

	p.
		Players to Watch: Dominique Dawson may be the difference maker in this matchup 
		as his size will be a formidable obstacle to the smaller Broncos squad. 
		He is also one of the newer members of the Rangers squad so watching how he
		gels with the team will be a good example of head coach Jason Sandifer's 
		ability to quickly bring his newer players into the mix and make them productive.

	p.
		In reality, all the players will be using this first game to really showcase 
		their skills in an attempt to earn their places on these young squads.
		You can expect that the starting lineups will shift somewhat early on in the 
		season as new breakout stars emerge in the bright lights of the regular 
		season.

	p.
		Injuries: Rangers are looking fresh going into game one and they have been
		working regularly with the team's trainer (Jill Fisher) to make sure they
		are in top condition going into game one.

	p Tickets go on sale at the door 
		strong cash only 
		| $10 for ages 13+; $5 for kids 5-12 years old; 
		|	kids under 4 are free. for more details be sure to check out 
		a(href="https://goo.gl/gtZLHL") the official event listing on Facebook.
