article#160525
	header
		h2 May 25, 2016
		h1 Preview: Rangers vs. CourtKings
		h3 By Jake Moening
	a(href='/fullimage/headlines/rgrsctkngs1.jpg') 
		img(src='../images/headlines/rgrsctkngs1.jpg')
	p.
		The Minnesota Rangers are headed home to Oxford Community Center in St. 
		Paul this Memorial Day weekend where they will get their first chance to 
		meet the Cedar Valley CourtKings this season. The Rangers, coming off a 
		three game series on the road, will be itching to get another win on their 
		home court after dropping two in a row out in Chicago. The CourtKings on 
		the other hand will be looking to extend their current win streak to three 
		and keeping the momentum they gained after thrashing the Wisconsin Storm 
		at home last weekend (104 - 76). In either case, one of these two teams 
		will be moving back above .500 after this game into the top half of the 
		conference.

	p.
		The Rangers had trouble closing the deal out in Chicago the past two 
		weeks, but they have made some big improvements overall this season that 
		should help them this week.  In particular, they have turned around their 
		free throw shooting considerably since the season opener (48% to 88%). 
		The Rangers have an opportunity here to get the offensive guns blazing 
		and put the CourtKings in a hole early especially with the return of 
		their full complement of top scorers this week. The key for the Rangers 
		will be to find the lanes and make the extra passes and expose the 
		limited gaps in the CourtKings’ staunch defense.

	p.
		The CourtKings have made adjustments after starting the season with two 
		straight losses and got themselves back in the running improving most 
		significantly on defense. The CourtKings have averaged only 73.5 points 
		allowed in the last two games which could be a real challenge for this 
		Rangers team which has primarily been involved in some offense-heavy 
		shootouts so far this season and have been plagued by turnover issues. If 
		the CourtKings can maintain the same stout defense as last weekend and 
		avoid going shot for shot with the Rangers it could be enough to make up 
		for their last-in-conference shooting percentage (40.1%) that has them 
		averaging a good 10 points less per game than the Rangers. As the old 
		adage goes, “Defense wins championships.”


	p Players to watch: 
		li. 
			Roc Rogers (F) of the Rangers continues to show up and get things done 
			and this week should be no exception. By now we have just come to expect 
			great stat lines from Roc so keep an eye out for number 34.
		li. 
			Dylan Hale (G), also of the Rangers, was absent the past two games in 
			Chicago. As one of the top 3 scorers on the team, expect his return 
			this weekend to have a positive impact on the offense and force the 
			CourtKings to keep a close eye on the perimeter.
		li. 
			The CourtKings have seen big improvements each week from Andre Norris (G). 
			He’s steadily increased his numbers in nearly every category and there 
			is no reason to suspect he’ll stop this week. Watch for Norris to set the 
			pace for the CourtKings offense as they will need to put some serious 
			points on the board to keep pace with the high scoring Rangers squad.

	p Numbers:
		li 4 - Number of teams out of the 6 western conference teams tied at a 2-2 record going into this weekend.
		li 91.7 - Free throw percentage (11 of 12) of Andre Norris over his past 3 appearances
		li 113.7 / 103.2 - Average number of points scored per game by the Rangers and CourtKings respectively
		li 106.75 / 91.75 - Average number of points allowed per game by the Rangers and CourtKings respectively

	p Injuries / Absences:
		br
		br
		| The Rangers report no injuries. CourtKings were unavailable for comment
		| at the time of publication

	p Tickets go on sale at the door 
		strong cash only 
		| $10 for ages 13+; $5 for kids 5-12 years old; 
		|	kids under 4 are free. for more details be sure to check out 
		a(href="https://goo.gl/8NBtNO") the official event listing on Facebook.

