article#160526
	header
		h2 May 26, 2016
		h1 New Sponsor: Jill Fisher, LLC
		h3 By Minnesota Rangers Organization
	a(href='/fullimage/headlines/jillfisherllc.jpg') 
		img(src='../images/headlines/jillfisherllc.jpg')
	p.
		We welcome Jill Fisher, LLC as an official sponsor for the Minnesota 
		Rangers. Jill Fisher, LLC gets your athletes in tip top 
		condition.

	p.
		Fisher is currently the 2016 trainer for the team & has been signed as 
		part of the coaching staff as well. She is a huge asset and we highly 
		recommend her services to anybody looking to get healthy & fit.

	p: a(href="https://www.facebook.com/JILL-Fisher-LLC-113768982874/") Jill Fisher, LLC
