article#051616
	header
		h2 May 16, 2016
		h1 Summary: Rangers vs. Fury
	img(src='../images/headlines/roc1.jpg')
	p.
		In a hard-fought battle for first place in the MBL west, the Fury came out 
		on top this past Sunday 118 to 108. Both teams came in with unblemished 
		records, so the scene was set for an exciting first meeting between these 
		two top contenders. 
	p.
		Both teams came out battling for the lead before settling at a 25-25 tie 
		part-way through the first quarter. Then Chicago pulled away with eleven 
		straight unanswered points to give them a commanding lead from which they 
		never looked back. The Rangers managed to pull to within eight points a 
		few times through the remainder of the game, but just couldn’t quite close 
		the gap. 

	p.
		When reached for comment on Sunday’s game, Rangers head coach Jason 
		Sandifer had this to say, “[We] kept fighting until the end but we were 
		plagued by turnovers.” The Rangers indeed had a hard time controlling the 
		ball, ending with a hard-to-swallow 25 turnovers (nearly double that of 
		the Fury) which puts them at a 25.3 average over the first three games of 
		the season. Combine that with the fact that the Fury were extremely 
		accurate at 62.5% shooting, and won the rebound battle and it was 
		just what the Fury needed to come away with the win.

	p.
		In the end, the Fury had some excellent play again this week from 
		Johnathon Mills (F) which earned him ‘Player of the Game’. He managed to 
		pull down 22 rebounds, and racked up 23 points. The Fury also had a huge 
		scoring assault from Andre Muse (G), who walked away with 26 points off 
		the bench. Meanwhile, Travell Amicks (G), ended up being a real asset to 
		the Fury by snagging six valuable steals. 

	p.
		Minnesota once again saw some solid play from Roc Rogers (F) who racked 
		up 25 points, 13 rebounds, and 6 assists. In the second half, Tim Lott (F) 
		really began to shine ending with 23 points and 13 rebounds. The 
		Rangers also did a good job this week on capitalizing at the foul line. 
		After averaging 59.2% from the line in the first two games, they managed 
		a greatly improved 88.2% on Sunday. 

	p.
		The Rangers will finish their three game road stretch this coming Sunday 
		back in Chicago where they will take on the Clovers. The Fury, on the 
		other hand, are headed to Minnesota to take on the Broncos. 

