article#160530
	header
		h2 May 30, 2016
		h1 Summary: Rangers vs. CourtKings
		h3 By Jake Moening
	img(src='../images/headlines/rgrsctkngs2.jpg')
	p.
		This past Saturday the Cedar Valley CourtKings came to St. Paul and met 
		the Rangers for the first time at Oxford Community Center. This one was a 
		real nail-biter ending with a pair of back to back CourtKing three point 
		attempts in the closing seconds that just refused to drop. In the end, 
		the scales tipped towards the Rangers and they came away with a 93 - 90 
		victory to bring them into second place in the conference at 3 - 2 
		overall while the CourtKings drop to 2 - 3.

	p.
		Both teams seemed to have some trouble getting their shots to drop this 
		weekend, particularly beyond the arc. The Rangers ended at 25% and the 
		CourtKings at 17.4% from three-point range, which is well below the 
		league average. Part of that can be attributed to the strong perimeter 
		defense we saw on both sides, and part is something the coaches will 
		just have to continue to work with their players on to improve. The 
		turnovers were also a big issue for both teams this week as they 
		cancelled each other out with 25 a piece.

	p.
		The Rangers took a particularly strong hit this weekend in the free 
		throw department shooting only 44% on 27 attempts, a new low, vaguely 
		reminiscent of their first home game where they shot a rough 48% from 
		the line. This week did see a strong performance off the bench from 
		Taurice Smith (G) with 4 steals and a pair of blocks while putting up 9 
		points and 4 dimes. Dominique Dawson (C) again showed solid play this 
		week putting up a double-double with 12 points and 12 boards.

	p.
		The CourtKings never quite seemed to get an offensive rhythm going this 
		week and ended up leaning heavily on Marvin Singleton (F) 
		who ended with a solid 23 points 8 rebounds and 4 assists. The 
		CourtKings defense was once again the shining star for them holding the 
		Rangers to a season low 93 points on their home court. 

	p.
		There is no doubt that when the CourtKings return to St. Paul on July 
		9th it will be another exciting one that you will not want to miss. 

	p.
		The Rangers (3 - 2) are sticking around Minnesota this Saturday as they 
		head over to play the Minnesota Broncos (2 - 3) on their home court to 
		try a repeat performance from week three. Meanwhile, the CourtKings (2 - 
		3) will be headed home to host the Lincoln Lions (1 - 0) to try to serve 
		them their first loss of the season.
