article#160511
	header
		h2 May 11, 2016
		h1 Preview: Rangers vs. Fury
		h3 By Jake Moening
	img(src='../images/headlines/rocandlolar.jpg')
	p.
		This Sunday, May 15th, the Minnesota Rangers are on the road again, this 
		time headed to Illinois to take on the Chicago Fury. The Fury and the 
		Rangers are the only two MBL teams remaining in the western conference that 
		are undefeated, so this promises to be an exciting game as each team battles 
		for the right to that 3 - 0 record. The Fury should have some advantage 
		playing at home in the Red Shield Center for the second time this season. 
		However, both teams did have a week off leading up to this game and should 
		be well rested and ready to go. This will be the first of a three game 
		season series between the Fury and the Rangers. 
	p.
		A key element for the Rangers to win this week will be to avoid the 
		turnovers that plagued them in games one and two so that they can keep things in 
		control.  On the other hand, the Fury have a great chance if they can continue to 
		shoot well and get Taylor to the line early and often.

	figure
		img(src='../images/headlines/marvinlee.jpg', alt='Marvin Lee')
		figcaption In memory of Marvin Lee 1986-2016
	p.
		This week’s matchup will also include a special memorial. The game will be 
		preceded by a moment of silence for former Fury teammate, Marvin Lee. Lee 
		was killed during an offseason incident in early April of this year and is 
		one of two players the MBL has lost already in this young season.

	p Players to watch: 
		li. 
			John Taylor (G) was the week three MBL West player of the week and has 
			been an offensive powerhouse for the Fury. He has made his presence known 
			all over the court and has been doing a solid job of getting to the line 
			and capitalizing on his free throws (21 of 23 in his past two games). His 
			numbers have been consistent so far so we should expect nothing less in 
			this game. 
		li.
			Roc Rogers (F) went to work for the Rangers against the Storm putting up 
			29 points, 12 rebounds and 4 dimes in week 4. The Rangers will need that 
			same level of performance this week to keep pace with the Fury who are 
			averaging roughly 110 points per game.
		li.
			Week four MBL West player of the week Jonathon Mills (F) of the Fury and 
			the Rangers' Dominique Dawson (C) will be facing off in a battle for 
			rebound dominance this week after Mills picked up 25 against the 
			CourtKings and Dawson had 20 against the Storm. Expect things to get 
			physical down low as these bigs look to take control.
	p Numbers:
		li 3 -  Number of remaining undefeated teams in the MBL going into this game.
		li 800 - Miles the visiting Rangers will be traveling to and from the game this week
		li 89.8 / 59.2 - Free throw percentages for the Fury and Rangers respectively this season.
		li 14 / 51 - Number of turnovers total for the Fury and Rangers respectively this season.

	p Injuries / Absences:
		br
		br
		| The Rangers report no injuries. Dylan Hale will be absent for personal 
		| reasons. For the Fury, Chris Lockheart is out (broken wrist out 6 weeks) 

