article#160501
	header
		h2 May 01, 2016
		h1 Summary: Rangers vs. Storm
		h3 By Jake Moening
	a(href='/fullimage/headlines/dom.jpg') 
		img(src='../images/headlines/dom.jpg')
	p.
		Saturday afternoon the Minnesota Rangers were on the road in Milwaukee 
		looking to get a win in their first game against the Wisconsin Storm. The Storm had a 
		dominant first half that left the Rangers with a six point deficit going 
		into halftime (58 - 64), but the Rangers came back with a storm of their 
		own outscoring Wisconsin 60 - 45 after the half to put away the victory with 
		a final score of 118 - 109.
	p.
		For the Storm, Chris McHenry (G) did damage from beyond the arc as expected 
		shooting 5 of 8 for 62.5% and he wasn’t alone as the Storm went 15 of 29 
		(51.7%) on threes. Darvell Brown (G) also stepped up for the Storm racking 
		up 33 points. 
	p.
		For the Rangers, Dominique Dawson (C) was a force to be reckoned with, on 
		the glass he pulled down 20 rebounds (only 2 less than the entire Wisconsin 
		squad) and put 25 points on the board as well. No less impressive was 
		Rochester Rogers (F), also with a double-double, put up 29 points and 12 
		rebounds. The Rangers also showed massive improvement from the free throw 
		line compared to last week going from 48.7% to 70.3% as a team.
	p.
		This game takes the Rangers to an undefeated 2 - 0 record to start their 
		inaugural season. They should be feeling good going into their training over 
		the next two weeks as they prepare to take on the undefeated Fury May 15th out in 
		Chicago in an attempt to make it three straight.
	p.
		The Storm, however, fall to 0 - 2 and will head to Chicago to try their 
		luck on the road against the Clovers on the 15th. 

