article#160518
	header
		h2 May 18, 2016
		h1 Preview: Rangers vs. Clovers
		h3 By Jake Moening
	img(src='../images/headlines/clovers.jpg')
	p.
		After an unfortunate loss in Chicago against the Fury this past weekend, the Minnesota Rangers (2-1) head back this Saturday May 21st to take on the Chicago Clovers (1-2). This game brings the Rangers road stretch to a close and they will be looking to improve on the issues that hurt them against the Fury. This is the first of a three game season series between the Rangers and the Clovers.
	p.
		It's no secret that the Rangers have struggled to keep control of 
		the ball so far this season with league worst 25.3 turnovers per game. 
		They are going to have to clean things up this week or they may be in 
		trouble against a Clovers team which had 21 steals in their first game 
		against the CourtKings and have put up rebounding numbers on par with the 
		Fury. On the other hand, if the Rangers can keep a handle on the ball and 
		get to the line like they have done so far this season they should be 
		able to keep the Clovers in check. Arguably the Ranger’s greatest 
		strength so far this season has been their athleticism. Team Trainer, 
		Jill Fisher, has seemingly given this team superhuman stamina which has 
		allowed them to play all out for four quarters in a way that we just haven't
		seen from other teams. The Rangers are becoming notorious for a late 
		game energy that leaves their opponents looking completely burned out 
		during the closing minutes.
	p.
		The Clovers are a bit of a mystery still this season; after a great 
		showing offensively and defensively in week three against the CourtKings, 
		they ended up forfeiting to the Broncos the following week and then 
		narrowly winning an offensive slugfest in Wisconsin this past week (
		135-132). We can’t be sure which version of the Clovers defense might 
		show up this week, but it seems safe to say the offense will be potent. 
		The Clovers showed in week three that they are dangerous from long range 
		and that might be the key to their success this week. If they can get out 
		front quickly with a barrage of threes and force the Rangers to make some 
		mistakes leading to turnovers they may be able to get the Rangers in a 
		hole like the Fury did last week and ride it to the finish.

	p Players to watch: 
		li. 
			Minnesota’s Roc Rogers (F) has been the Rangers’ most consistent weapon 
			through the last three games averaging a double-double at 22.3 points and 
			11 rebounds and has been the most successful at capitalizing on free 
			throws with an 82.4% average. Expect him to live up to his name and be 
			the rock for this team to rally around on Saturday.

		li.
			Minnesota should see the return of their #2 scorer this week, Damien Lolar 
			(F), which should increase the Ranger’s output considerably and allow 
			them to keep pace even if the Clovers start hitting those triples.

		li.
			Walter Lemon Jr. (G) Was an all-around beast against the CourtKings 
			putting up an impressive 33 points, 10 boards, 9 assists, 6 steals, and 3 
			blocks. Include his 66.7% shooting beyond the arc and his flawless record 
			from the line and It seems there’s nothing this man can’t do. The Clovers 
			will be leaning heavily on his skills this week to get them out front early.

	p Numbers:
		li 25.3 - Number of turnovers per game the Rangers are averaging to this point in the season.
		li 59.1 - Three point shooting percentage for the Chicago Clovers in week 3
		li 113.7 - Points per game average for the Minnesota Rangers this season
		li 1,930 - Miles traveled for this three game road series by the Minnesota Rangers

	p Injuries / Absences:
		br
		br
		| The Rangers report no injuries. Dylan Hale, Jordan Osberg, and Taurice Smith
		| will be absent for personal reasons. Clovers were unavailable for comment
		| at the time of publication

