article#160531
	header
		h2 May 31, 2016
		h1 Preview: Rangers vs. Broncos
		h3 By Jake Moening
	a(href='/fullimage/headlines/rgrsbrncs1.jpg') 
		img(src='../images/headlines/rgrsbrncs1.png')
	p.
		Saturday the Rangers (3 - 2) will be meeting the Broncos (2 - 3) in the 
		basement at Oxford Community Center for a home town rivalry match. The 
		last time these two duked it out the Rangers rode to victory on a 
		comfortable 25 point lead. The Broncos have since proved that they have 
		what it takes to dominate the best out there unseating the undefeated 
		Chicago Fury two weeks ago. 
	p.
		The Rangers managed take the CourtKings off their throne this past 
		weekend in part due to some good defense, though they generally have a 
		reputation as an offense heavy team. We’ll be looking to see them to 
		come out guns-a-blazing again this week against their Minnesota rivals. The 
		key this week is for the Rangers to attack the paint like they do best 
		and make sure they hit the free throws that come from it. They need to 
		get those points early and keep hammering away while simultaneously 
		denying the Broncos long-range shooters out on the perimeter. The 
		defense is going to need to rotate fluidly again this week like they did 
		against the CourtKings if they want to keep those outside shots contested. 
		The Rangers absolutely can not afford to get behind and rely on their 
		long range shooting to catch up as it just hasn’t been consistent enough 
		so far this season.

	p.
		The Broncos on the other hand, after a loss in Wisconsin need to buckle 
		down and make sure they force the Rangers to the outside making them 
		settle for long contested twos or threes where they have been less 
		effective. If they let the Rangers in to attack the basket they will 
		find themselves getting picked apart by an offensive swarm that has been 
		lighting teams up all season. They will also need to work twice as hard 
		boxing out and controlling the boards as they can’t afford to give up those
		rebounds for second chance opportunities; the Rangers may not have 
		found their groove from long range yet, but they have done a good job of 
		snatching those offensive rebounds and converting them into points anyway
		. Offensively, if they can make use of their collection of deadly 
		accurate shooters they might bury the Rangers quickly by bombing them 
		from three-point-land.

	p Players To Watch:
		li. 
			Darius Campbell (F) - Darius took the Western Conference Player of the 
			Week honors two weeks ago putting up a huge 36 points (including 7 from 
			deep) 13 rebounds 6 assists and 4 steals. This will be the first time 
			he meets his former team and it will be exciting to see how it shakes out.

		li. 
			Tim Lott (F) - While he was just off from long range this past week for 
			the Rangers his overall performance including his defense made him a 
			major force on the court. He had three blocked shots and really stretched 
			his range with 7 attempts from beyond the arc; if he gets hot this 
			week we may be in for quite a show.
		li.
			Kavaarian Williams (G) - Another former Ranger snatched up by the 
			Broncos, Kavaarian has proven to be tough to contain on offense putting 
			up good numbers all across the boards. If he can keep his turnover 
			numbers down he’ll likely rack up the points and assists again this week.
		li.
			Dominique Dawson (C) - The Rangers have an edge in the rebounding 
			department going into this matchup so expect Dom to do what he does best 
			and Dominate the boards. He’s provided some healthy offense as well as 
			of late so you can expect good numbers in both areas.

	p Numbers:
		li.
			2 - This is the second of a three game season series between the two teams. 
		li.
			58.6 / 37.3 - Average rebounds per game for the Rangers and Broncos respectively 
		li. 
			45.6 - Average three point percentage for the Broncos since Darius Campbell (F) left the Rangers and joined the squad.
		li.
			8 - Number of steals Rangers guard Kenny Bass had last time these two teams met.

	p Injuries / Absences:
		br
		br
		| Rangers report no injuries. Broncos were unavailable for comment at the time of publication


	p Tickets go on sale at the door 
		strong cash only 
		| $10 for ages 13+; $5 for kids 5-12 years old; 
		|	kids under 4 are free. Space is limited so come early!

