article#160524
	header
		h2 May 24, 2016
		h1 Summary: Rangers vs. Clovers
		h3 By Jake Moening
	img(src='../images/headlines/clovers.jpg')
	p.
		The Chicago Clovers came out on top this past weekend against the 
		Minnesota Rangers out in Chi-Town. This was another long road trip for 
		Minnesota and finishes their three game road series where they ended 1-2 
		dropping the last two in Chicago. The game was very evenly matched 
		throughout, with the Clovers taking a slight advantage in the third 
		quarter; just enough to come away with the narrow victory. 
	p.
		Both teams move to 2-2 overall into a four-way tie for second in the 
		western conference along with the Broncos and CourtKings. This Memorial 
		Day weekend the Rangers will be coming home to host the CourtKings in 
		their first meeting, while the Clovers will head across town to the Red 
		Shield Center to face off with the Fury.
	p.
		[More in depth summary to come once the replay video is available]
