article#160606
	header
		h2 June 06, 2016
		h1 Summary: Rangers vs. Broncos
		h3 By Jake Moening
	img(src='../images/headlines/rgrsbrncs2.jpg')
	p.
		This past Saturday the Minnesota Rangers visited the Minnesota Broncos on 
		their home court. The Rangers got down to business walking away with a 
		road win to bring the season series to 2 - 0 against the Broncos. After 
		a slow start for the Rangers in the first half, they picked up some 
		serious steam and showed the crowd the definition of teamwork. They did 
		a great job of spreading the ball around and using the entire team to 
		put the Broncos on their heels and keep them there. The Broncos, on the 
		other hand, saw great production by a few, but never really seemed to 
		get the offense in a flow which ultimately left them short of their goal. 
		The final meeting of the Rangers and Broncos will take place Sat. July 
		16th at the Rangers home court in Oxford Community Center, St. Paul.

	p.
		The Rangers have seen some churn in the roster early in this 2016 season 
		losing Darius Campbell and Dylan Hale most recently, but saw some new 
		talent arrive last week with Demarco Davis, Demetrius Williams, and 
		Estan Tyler. We got a preview of these new acquisitions this past 
		weekend and they did well coming off the bench to help out in the victory. 

	p.
		In particular, the Rangers got a huge boost from  Estan Tyler who came 
		into his debut packing some serious firepower. Tyler gave us a showing 
		from the 3 point range that we haven’t seen from this young Rangers 
		squad hitting 4 of 5 and finishing with a solid 17 points in his first 
		outing. We also saw an outstanding effort this week from Rangers’ big man, 
		Dominique Dawson. Dom was on fire going 13 of 22 for a team high 28 
		points including a nice triple and 12 boards. The Rangers as a team, 
		while better than the previous week, struggled again at the charity 
		stripe shooting only 54.5%. The turnovers were also back again in full 
		force this week as  the Rangers coughed up the ball a staggering 29 
		times tying their season worst. Luckily for the Rangers, this week they 
		more than made up for their faults with good shots and great team play. 
		They did a good job of grabbing the rebounds, playing tough defense on 
		the perimeter, and making the extra pass ending with a solid 30 assists.

	p.
		The Broncos, however, felt the effects of the more individual style of 
		play recording only 15 assists and ending with only three players 
		hitting double digits scoring compared to the Rangers’ six. Darius 
		Campbell and Kavaarian Williams put up quite a fight ending up with 34 
		and 28 points respectively as the Rangers scrambled to contain them. Not 
		only that, but Campbell was picking pockets like Apollo Robbins ending 
		with 7 steals as well before fouling out in the 4th.

	p.
		The Rangers (4 - 2) are back home this Saturday at their alternate home 
		court in Eagan, MN to take on the Wisconsin Storm, while the Broncos (2 - 4) 
		will be hitting the road to meet the Lions out in Nebraska.
