article#160617
	header
		h2 June 17, 2016
		h1 Preview: Rangers vs. Fury
		h3 By Jake Moening
	img(src='../images/headlines/rngrsfry2.jpg')
	p.
		This Saturday, in St. Paul, the Minnesota Rangers (5-2) host the Chicago 
		Fury (5-2) in a battle for the number one position in the MBL West. 

	p.
		This is the second time these two teams have met while jointly holding 
		first place within the western conference and it's bound to be another 
		hot matchup. Last time these two squads met the Fury managed to best the 
		Rangers by eight in a close game. However, this week the Rangers are 
		coming off a three game winning streak, will have home court advantage 
		and should be well rested after not playing last weekend due to a 
		forfeit by the Wisconsin Storm. The Fury will be coming in off of a 
		devastating 36 point loss to the CourtKings and looking to turn things 
		back around and put that game in the rear-view.

	p.
		The Fury have been lighting up the stats listings so far this season 
		sitting in the top position in all but two stat categories (steals and 
		three point percentage) for the western conference. One key to a road 
		victory here is for them to take it to the paint hard to try to get to 
		the line often. With a league best free throw percentage (82.4%) on an 
		average of 25 free throws per game they should do everything they can to 
		get keep pulling in those easy points at the stripe. On the other end of 
		the court, they need to be opting for good fouls to send the Rangers to 
		the line where possible as they are sitting at a conference worst 58.7% 
		free throw average.

	p.
		The Rangers, on the other hand, need to make the Fury feel the same 
		defensive pressure that they brought against the CourtKings two weeks ago. 
		A big key to the CourtKings victory over the Fury just this past week 
		was their stout defense and the Rangers have shown that they are capable 
		of the doing the same. Part of their defensive task is going to include 
		getting more physical down low and shutting down Johnathon Mills on the 
		glass; if they cut off Mills’ historically steady stream of second 
		chance points the Fury will be forced to be more selective with their 
		first shots.

	p.
		This should be a great game between two colossal teams, and in the end 
		one of these two will walk away with the first place honors in the West 
		and bragging rights going into the final meeting of these two teams on 
		July 30th.

	p Players To Watch:
		li. 
			Johnathon Mills (F) of the Fury is quickly becoming one of the most 
			recognized names in the MBL. With three ‘Player of the Week’ awards 
			already this season no doubt he is looking to get another one this 
			weekend with his stunning post play.

		li. 
			Roc Rogers (F) has been busting through defenses for the Rangers all 
			season so far; expect to see him driving through the paint more akin to 
			a boulder this Saturday.

		li. 
			Dominique Dawson (C) of the Rangers is going to be put to the test this 
			week going up against two great rebounders (Johnathon Mills (F) and Don 
			Kellum (C)) Look for him to be pulling out all the stops this week to 
			take control of the glass. 

	p Numbers:
		li.
			10.5 / 26.3 - Turnovers per game on average for the Fury and Rangers respectively.

		li.
			0 - Number of home games the Rangers have lost this season. Interestingly, it’s also the number of wins the Rangers have against Chicago teams so far this season.

		li.
			94.5 / 79 - Shot attempts per game on average for the Rangers and Fury respectively.


	p Injuries / Absences:
		br
		br
		| The Rangers report no injuries. Fury were unavailable for comment at time of publication.


	p Tickets go on sale at the door 
		strong cash only 
		| $10 for ages 13+; $5 for kids 5-12 years old; 
		|	kids under 4 are free.

