article#160625
	header
		h2 June 25, 2016
		h1 Preview: Rangers vs. Lions
		h3 By Jake Moening
	img(src='../images/logo.svg')
	p.
		This Saturday the Minnesota Rangers (6-2) are headed out east to Lincoln, 
		IL to meet the Lions (3-1) for the first time.

	p.
		This is the the first of two meetings between these teams as the Lions 
		stepped in midway through the season to replace the Chicago Clovers. The 
		final meeting between the Rangers and Lions will be August 6th in St. Paul.

	p.
		The Lions are still a bit of a mystery as they came in late to the MBL 
		West. We saw them take down the Monarchs over in the East before their 
		transition to the Western Conference and since then they have been bested 
		by the CourtKings, took down the Broncos, and notched a forfeit win from 
		the Storm. From what we have seen the Lions do their best work behind the 
		arc leading the conference with a 44.7% average, but they seem to suffer 
		on defense pulling in some of the worst numbers on blocks, steals and 
		rebounds in the league. In order for them to succeed they will need to 
		really step it up inside and get the boards and make the stops that can 
		keep them in the game and allow them to put those shooters to work on 
		offense from the perimeter.

	p.
		The Rangers are coming off a sweet victory at home to give them their 
		fourth straight win and put them on top of the Western conference. They 
		have been playing well on both sides of the ball and are looking to keep 
		the ball rolling in Lincoln. This week we will hopefully see good 
		production from the bench again to supplement the starting line, while 
		continuing to see more of that developing defense that has been so 
		effective the past couple weeks. The Rangers also need to continue to 
		improve on their free throws and turnover issues that have become a 
		recurring theme this season. 
