article#160622
	header
		h2 June 22, 2016
		h1 Summary: Rangers vs. Fury
		h3 By Jake Moening
	img(src='../images/headlines/dom2.jpg')
	p.
		This past Saturday in St. Paul we saw the two leaders of the MBL West 
		square off to see who is deserving of sole possession of the number one 
		spot. The Chicago Fury came out strong in the first quarter, really 
		flowing well and putting up points with relative ease, but midway through 
		the second and into the third, the Minnesota Rangers turned things around 
		and charged past the Fury for the decisive 122-101 victory. 

	p.
		The Fury looked to really feel the loss of two of their star players 
		(Johnathon Mills (F) and John Taylor (G)) who were unable to make it to 
		Saturday’s game. The aggressive rebounding and second chance points they 
		are used to seeing didn’t show up and they had to adjust for it. 
		Unfortunately, they didn’t patch all the holes they needed for the victory.

	p.
		The Rangers saw some great play again this week as the ever-reliable Roc 
		Rogers put up a stunning 30 pts, 8 rebounds and 6 assists in just 3 
		quarters of play. We also caught a glimpse of what’s to come from Jordan 
		Osberg as he came out into the spotlight putting up 17 points including 5 
		triples as well as 7 rebounds. Lastly, Saturday brought back the Kenny 
		Bass we missed from week 3 as he put up 12 points 8 rebounds and 7 assists 
		in just 3 quarters shooting 100% including a triple to round out the afternoon. 

	p.
		All in all, the Rangers proved again that they are still a force to 
		be reckoned with and have earned their position atop the Western Conference.  
		The Rangers move on this week to take on the Lincoln Lions out in Illinois 
		hoping to push their winning streak to 5, while the Fury will head home 
		and try to make some adjustments before the Minnesota Broncos arrive this 
		weekend.

