article#160607
	header
		h2 June 07, 2016
		h1 Preview: Rangers vs. Storm
		h3 By Jake Moening
	img(src='../images/headlines/rngrsstrm2.jpg')
	p.
		This week the Wisconsin Storm are crossing the border to take on the 
		Minnesota Rangers. Last time these two teams met the Rangers were out in 
		Milwaukee and finished with a  win (118-109). This will be the second of 
		three meetings between these two teams this season. It will also be the 
		first and only game the Rangers play this season in their alternate home 
		location out in Eagan, MN.

	p.
		The Rangers broke the Broncos last week to put them on a two game winning 
		streak for the second time this season. The big key to that victory was 
		their ability to spread the ball around and see solid production from 
		their starters and the bench as well. This week the Rangers will need to 
		make sure to keep the same intense defense along the perimeter that was 
		so effective against the Broncos as the Storm have been known to do some 
		damage from long range. They will also need to do something about the 
		turnovers that have been plaguing them all season long. If they do both 
		of these things they should do well this week.

	p.
		Last week the Storm took on the Fury and had the wind knocked out of 
		their sails as they fell 125 -100 out in Chicago, putting them back in 
		last place in the conference. They will be looking to turn things around 
		this week. The important thing for the Storm to concentrate on this week 
		will be swarming the paint on defense and forcing the Rangers to lean on 
		their outside shooting which has been less effective. They also need to 
		take advantage of second chance rebounds which the Rangers have struggled 
		to avoid off and on this season.

	p Players To Watch:
		li. 
			Darvell Brown (G) of the Storm put up an impressive 33 points going 14 for 
			19 against the Broncos two weeks ago. With Chris McHenry (G) feeding him 
			from the point they’ll be a potent one-two punch that might give the 
			Rangers trouble this week.

		li. 
			Roc Rogers (F) and Dominique Dawson (C), on the other side of the matchup, 
			are each averaging a double-double (points and rebounds) for the season. 
			If the last meeting of these two teams is any indication, then the Storm 
			are going to want to keep the ball out of their hands as much as humanly 
			possible. 

		li. 
			Jordan Osberg (G) is one of the Rangers best kept secret weapons. He has 
			quietly come off the bench and performed consistently all season long 
			putting up good numbers in all categories including two of the Rangers 
			shakiest (Turnovers and Free Throws). I expect he won’t remain quiet for 
			long and this week might just be the one where he finally hits it big.

	p Numbers:
		li.
			58.3 / 33.4 - Rebounds per game on average for the Rangers and Storm respectively

		li.
			15.2 / 26.3 - Turnovers per game on average for the Storm and Rangers respectively

		li.
			4 - Number of Storm players averaging over 20 points per game

		li.
			115.8 - Average number of points allowed by the Storm.


	p Injuries / Absences:
		br
		br
		| Neither Team was available for comment at the time of publication.


	p Tickets go on sale at the door 
		strong cash only 
		| $10 for ages 13+; $5 for kids 5-12 years old; 
		|	kids under 4 are free.

