article#160629
	header
		h2 June 29, 2016
		h1 Summary: Rangers vs. Lions
		h3 By Jake Moening
	img(src='../images/headlines/dom3.jpg')
	p.
		The Rangers did it again this week pulling down their fifth straight win 
		while on the road in Illinois. The Lincoln Lions had a ton of fight and 
		the game was close, but in the end, the Rangers took it 120 - 116. 

	p.
		This week was a new and interesting challenge for the Rangers as it was 
		the first game without MVP candidate Roc Rogers (F) leading the charge. 
		This was a big opportunity for the rest of the team to come out and show 
		that the Rangers are a complete team with depth and they did just that. 

	p.
		The lions got solid all around performance from the entire team with 
		eight of the nine players putting up double digit points. Unfortunately 
		for them, it wasn’t quite enough. They didn’t seem to have quite the same 
		results from the perimeter that they have enjoyed in the past and they got 
		drawn into far too many foul situations giving the Rangers 49 shot 
		opportunities from the stripe.

	p.
		This week saw more exceptional play from Rangers’ starting center 
		Dominique Dawson. He stepped up this week with a 
		renewed level of aggression in the post and put away 31 points with 12 
		boards. Dom is also in the running for MVP this season and if we 
		continue to see the kind of improvement he’s shown over the past couple 
		games you can expect his stock to rise quickly.

	p.
		Also, Damien Lolar (F) of the Rangers came out guns-a-blazing filling
		the void from Roc Rogers with a solid 25 points. He really gave the 
		team a boost from three point land where he went 5 for 9 and helped offset 
		the three point shooting from the Lions.

	p.
		Last but not least, the Rangers had Tim Lott (F) break out and show the 
		offense we have been hoping for this season. To go along with his solid 
		defense he put 17 points and 7 boards while playing through an ankle sprain. 
		Hopefully, we will continue to see these kinds of contributions from him 
		as we begin closing out the regular season.

	p.
		Maybe the biggest contributor to the win this week was the Rangers 
		team defense. They really came together in the second half shutting down 
		the lions’ scoring machine and forcing some key turnovers. Head coach 
		Jason Sandifer had this to say about it,  “We talked about taking more 
		risks second half and they paid off.” Ever since the Rangers played the 
		CourtKings at the end of May they have been playing as a cohesive unit 
		both offensively and defensively. The fluid rotations and extra passes on 
		offense are all showing that this team knows 
		what it takes to work together for a victory. This is something they are 
		going to need to draw upon July 9th when they meet the, now tied 
		for second place, CourtKings who they narrowly defeated last month.

	p.
		The Rangers and Lions really put on a good show this past weekend, and the 
		rematch August 6th, in St. Paul, will be a game you won’t want to miss. 
		Save the date and be sure to come out and help your hometown Rangers close 
		out the regular season with a bang!
