article#160706
	header
		h2 July 07, 2016
		h1 Preview: Rangers vs. CourtKings
		h3 By Jake Moening
	a(href='/fullimage/headlines/rgrsctkngs3.jpg') 
		img(src='../images/headlines/rgrsctkngs3.jpg')
	p.
		After the fourth of July bye week it’s time to get at it again; MBL action 
		will be hot this weekend including the rematch of the conference leading 
		Minnesota Rangers (7-2) and the second place Cedar Valley CourtKings (6-3) 
		in St. Paul, MN. This will be the final regular season meeting between 
		these two power-house teams in the 2016 season. Last time these two met we 
		saw an intense defensive battle ending with the Rangers narrowly squeaking 
		by with the win 93 - 90. Both of these teams have shown significant growth 
		throughout the season and have their sights dead-set on the playoffs which 
		should make this a fantastic game. If you only make it to one game this 
		season, this is the one to see.

	p.
		The CourtKings have been hot since they last met the Rangers, winning four 
		straight. These haven’t been close games either; they have been destroying 
		the competition by an average of 36 points each game! The CourtKings have 
		had a consistently strong defense this season, and their last exhibition 
		game against the MBL select was no exception; they nabbed 23 steals and 
		held the select team to just 83 points of offense. While the CourtKings 
		didn’t start the season with a ton of offense we are now seeing major 
		improvement as they have averaged 130 points in their last 3 
		games. The key factor this week for the CourtKings is to be sure they 
		bring their defensive intensity to St. Paul and really force the Rangers 
		to scramble against the shot clock and settle for those lower percentage 
		contested shots. 

	p.
		Minnesota was on fire in June, now sitting on a five game win streak going 
		into Saturday’s game. The Rangers, while already having a reputation for 
		offensive power, have benefitted immensely the past couple games from 
		increased production off their bench. The Rangers have been working really 
		well together across the entire team and have done a great job of moving 
		the ball and putting up high quality shots. This weekend, they will need 
		to continue that trend to force the CourtKings defense to slip up and 
		settle into match-ups that will allow the Rangers impressive array of 
		offensive weapons to really go to work.

	p Players to watch: 
		li. 
			Minnesota’s Roc Rogers (F) is currently sitting in a second place position 
			for the MVP nomination and you can bet that after missing the last game in 
			Lincoln he’s looking to fight his way up to that number one spot. Expect 
			him to light-up the court Saturday.

		li. 
			Andre Norris (F) of the CourtKings went off against the MBL select before 
			the bye week, putting up 27 points and grabbing 6 steals. In the past 
			three games he’s averaged 28 points. The Rangers will surely have their 
			hands full trying to keep him in check this week.

		li. 
			Damien Lolar (F) really lit up things from three point range against the 
			Lions. Perhaps we’ll get to see some long range bombing from him and 
			Jordan Osberg (G) again this week to help the Rangers.

	p Injuries / Absences:
		br
		br
		| The Rangers report no injuries and Tim Lott (F) will be absent for personal reasons.
		| CourtKings were unavailable for comment at the time of publication

	p Tickets go on sale at the door 
		strong cash only 
		| $10 for ages 13+; $5 for kids 5-12 years old; 
		|	kids under 4 are free. for more details be sure to check out 
		a(href="https://www.facebook.com/events/517995265065103/") the official event listing on Facebook.

