article#160714
	header
		h2 July 14, 2016
		h1 Preview: Rangers vs. Broncos
		h3 By Jake Moening
	img(src='../images/headlines/roc2.jpg')
	p.
		Saturday is the final meeting between the two Minnesota rivals, the Rangers 
		(8 - 2) and the Broncos (3 - 7). We will watch the third matchup between 
		these two St. Paul clubs at Oxford Community Center in St. Paul on the 
		Rangers’ upstairs home court. The Rangers took the first two games so the
		broncos will be looking to get one back here as we close out the 2016 season.
		You can expect there will be quite a few folks in attendance for this one as 
		so many local fans are familiar with players from both teams; it should be a fun one to watch.

	p.
		The Broncos have had a rough go of it this season, but that doesn’t mean 
		they will be a pushover for the conference leading Rangers. If you’ve been 
		following along, you will remember that the Broncos were the ones who 
		finally handed the Fury their first loss of the season, and did so in 
		spectacular fashion. The Dynamic duo that is Kavaarian Williams (G) and 
		Darius Campbell (F) is not one to dismiss. These two can supercharge this 
		Broncos team and put points up in a hurry. The key this week for the 
		Broncos is to focus on the rebound game. They have been getting killed 
		this season with a conference low defensive 22.3 rebounds per game as 
		opposed to the almost 40 boards of the rangers. In general, defense 
		appears to be the biggest struggle for this Broncos squad as they have 
		allowed 126 points per game on average in their past 5 games. If they can 
		stop the bleeding there and get some good shots they should be ok. 

	p.
		The Rangers managed hold off the CourtKings again this past weekend and 
		are now sitting on a comfortable two game lead in the west. They have 
		developed strong team chemistry and are showing signs of progress in all 
		areas of their game. This should be a great opportunity for them to show 
		that progress to the mass of MN fans making their way out to the game this 
		weekend. The key to a Rangers victory this week should be just continuing 
		to play the game they have the past couple weeks. Good stout defense and 
		spreading the ball evenly on offense has been working to make this team 
		one tough nut to crack. The Rangers have also had success the past couple 
		weeks taking shots from beyond the arc and they should continue to do so 
		this week in order to try opening up a comfortable gap early.

	p Players to watch: 
		li. 
			Darius Campbell (F)  and Kavaarian Williams (G) have been putting up solid 
			numbers all around the court this season and are the top two scorers for 
			the Broncos. Expect the dynamic duo to come in strong this week to wreak 
			havoc on their former team.

		li. 
			Dominique Dawson (C) of the Rangers has fared well both times these two 
			teams have met this season averaging a double-double at 20.5 points and 10.5 
			boards. We can expect him to step up again this week and own the boards. 

		li. 
			The Rangers saw a breakout performance from Damien Lolar (F) last week 
			putting up a stunning 32 points and shooting 60% from beyond the arc. That’s 
			two games in a row now where Lolar has really helped propel this team 
			forward and this week should be more of the same.

	p Tickets go on sale at the door 
		strong cash only 
		| $10 for ages 13+; $5 for kids 5-12 years old; 
		|	kids under 4 are free. for more details be sure to check out 
		a(href="https://www.facebook.com/events/1035493879865685/") the official event listing on Facebook.

