article#160713
	header
		h2 July 13, 2016
		h1 Summary: Rangers vs. CourtKings
		h3 By Jake Moening
	a(href='/fullimage/headlines/rgrscrtkngs4.jpg') 
		img(src='../images/headlines/rgrscrtkngs4.jpg')
	p.
		Last Saturday we saw the second and final meeting of the Minnesota Rangers 
		and the Cedar Valley CourtKings in St. Paul where Minnesota looked to 
		sweep the two game season series. This game was just as close and intense 
		as the first and ended in nearly the exact same fashion with the Rangers 
		squeaking out the win by just 3 points (101 - 98). Minnesota came out with 
		a commanding lead in the first quarter as the CourtKings struggled to find 
		their rhythm. It wasn’t long, though, before the CourtKings got in a 
		groove dominating the second quarter and making up a ten point deficit to 
		grab a one point lead at the half. Cedar Valley kept pushing in the third, 
		but a barrage of threes from the Rangers drowned their efforts and by the 
		end of the fourth the Rangers had worked their way back to enough of a 
		lead to hold on to the finish. 

	p.
		Cedar Valley saw an exceptional performance again from Marvin Singleton (F) 
		the Minnesota native who put up 24 critical points that helped the 
		CourtKings keep pace in the 3rd and 4th quarters. Unfortunately, the 
		CourtKings didn’t have much luck from long range shooting only 20% from 
		beyond the arc compared to the almost 54% of the Rangers. 

	p.
		The Rangers, after getting back under control in the third, got a huge 
		boost from Damien Lolar (F) who put up 32 points including 6 
		three-pointers and Jordan Osberg who got 17 points and went 4 for 4 from 
		three-point range. The Rangers looked extra smooth on offense spreading 
		the ball around nicely and racking up 24 assists compared to just 14 by 
		Cedar Valley. We’ve really started to see this team come together on both 
		sides of the ball and I expect as we roll toward the playoffs the Rangers 
		are going to be a team you will definitely want to keep your eyes on.

	p.
		The Rangers (8 - 2) will be staying at home this weekend again to take on 
		the Minnesota Broncos (3 - 7) at Oxford Community Center. While the 
		CourtKings (6 - 4) head to Lincoln, IL to take on the Lions (3 - 2). 
