article#160721
	header
		h2 July 21, 2016
		h1 Summary: Rangers vs. Broncos
		h3 By Jake Moening
	img(src='../images/headlines/rgrsbrncs3.jpg')
	p.
		Last Saturday was the final meeting for the 2016 regular season between the 
		Minnesota Rangers and the Minnesota Broncos. The Rangers ended up winning 
		the game (135 -128) and sweeping the season series; they have a good
		chance of bringing home the Western conference championship trophy if they 
		can finish out the rest of the regular season this way.

	p.
		Saturday’s game started out rough for the Broncos, and it looked like the 
		Rangers were going to make short work of things after the opening minutes. 
		Eventually, the Broncos got things under control and ended up taking the 
		lead after one quarter of play. The Rangers, surged back to take the lead 
		and managed to keep the broncos chasing them into the third, then took a 
		big lead before the fourth quarter where they held on for the comfortable win.

	p.
		The Broncos leaned heavily on Kavaarian Williams (G) again this game as he 
		came away with 33 points, 7 assists, and 7 rebounds. Williams, however, 
		didn’t do it alone this week as Sam Kenyi (F) and Alex Cappard (G) took 
		strong scoring roles putting up 25 and 19 points respectively. While the 
		Broncos offense did perform exceptionally well against this Rangers unit, 
		the defense was unable to keep up which allowed the Rangers to put up a 
		whopping 135 points which was more than enough to clinch the win. 

	p.
		The Rangers saw another outstanding performance this week from All-Star 
		center Dominique Dawson who put up 24 points and an incredible 19 boards 
		plus a pair of steals. His performance was good enough to net him the 
		‘Western Conference Player of the Week’ award for his first time this season. 
		Rangers' Forward Roc Rogers did what he has done so well all season, carving his way through the paint 
		and putting up 24 points and snagging 7 rebounds and 4 assists. The Rangers artillery unit, Damien 
		Lolar (F) and Jordan Osberg (G), were on fire again this week putting up 20 
		and 14 points respectively as they shelled the Broncos from deep. The 
		surprise of the week was starting point guard Quinton Jackson, who had a 
		break-out game putting up 15 points (including 4 for 4 from beyond the arc) 
		and dropping 7 dimes. When asked how he was feeling about it after 
		the game Jackson said, “I’m in playoffs mode now.” I think it’s safe to 
		say this entire Rangers squad will be working extra hard over the next few 
		weeks to take their game to that next level in order to be ready for the 
		playoffs.

	p.
		The Rangers will have a bye week this weekend, but will be headed to 
		Chicago to take on the Fury in their final road game of the season the 
		following week, while the Broncos this week are hosting the Lincoln Lions 
		in St. Paul.
