article#160805
	header
		h2 August 05, 2016
		h1 Preview: Rangers vs. Lions
		h3 By Jake Moening
	img(src='../images/logo.svg')
	p.
		This Saturday the Minnesota Rangers (10-3) are hosting the Lincoln Lions (5-4) 
		for the second and final time this season. This will be the final game of 
		the season for both of these teams, and should be a good one as the 
		Rangers look to fine tune their game as they move forward into the 
		playoffs while the Lions will be fighting to keep their playoff dreams 
		alive. The game will take place at 1PM at Oxford Community Center in St. 
		Paul. If you haven’t had a chance to check out a Rangers or Lions regular 
		season game this year then this will be your last chance!

	p.
		The Lions, a late addition to the MBL West, have been leading the middle 
		of the pack so far this season taking down some of the lower ranked teams 
		in the East and West, and coming up just short against the big dogs in the 
		West. They lost to the Fury by just one point and were within 4 points of 
		the Rangers so they have what it takes to win this one. Beyond that, this 
		is the game that makes or breaks the Lions post-season; with a win on 
		Saturday the Lions can move ahead of the Fury and clinch the final Western 
		conference playoff slot. 

	p.
		The Lions biggest strength seems to be their three-point shooting. They 
		are sitting at second place in the conference beyond the arc at just shy 
		of 40%. Their biggest struggles seem to come on the boards where they are 
		at a league low 37.9 rebounds per game average. They will need to take 
		things up a notch down low this week and grab those boards if they want to 
		win this one.

	p.
		The Rangers took their third loss of the season last weekend against the 
		Fury leaving them winless for the season out in the Windy City, but we 
		hope to see a renewed vigour from them this week as they use their last 
		opportunity to polish things up before heading to the playoffs. To win 
		this week they will need to make sure they make those extra passes to get 
		clean uncontested shots and make sure they take advantage of the free 
		throws when they come. The Rangers seem to have begun struggling again in 
		this area as of late and could be the difference maker this weekend.

	p.
		The Rangers have come a long way in this inaugural season and battled hard 
		to end up on top of the West. With the season coming to a close you can 
		see the impressive results Jason Sandifer and his staff have achieved 
		while bringing this winning-machine into the spotlight. The Rangers 
		started as a disparate set of talented individuals who relentlessly 
		pounded the paint to victory; overcoming their shortcomings with pure 
		tenacity. But, with solid training and a ton of hard work by the players, 
		we have seen the Rangers make a paradigm shift to what is now a 
		seemingly-effortless offense that spreads the ball and creates clean shot 
		opportunities all over the floor. A defense that seemed a bit wild and 
		patchy is now a fluid fortress that has frustrated the opposition time and 
		time again.

	p.
		The Rangers are no longer individuals; in the truest sense of the word 
		they are a team. More than that they are a family; the Rangers don’t just 
		exist for a few hours every Saturday. I’ve had the good fortune to see the 
		ins and outs of this organization over this past season and it’s a truly 
		impressive watching it work from the owner all the way down to the players.
		This organization is full of great players who are also great people and 
		that’s something special that they can be proud of. It’s been a great ride 
		so far and I look forward to following along with the rest of the Ranger 
		Nation into the post-season and beyond.


	p Players to watch: 
		li. 
			Dominique Dawson (C) of the Rangers put on a special performance last time 
			these two teams met putting up 31 points and 12 rebounds. With the lions 
			struggling on the boards this season, expect Dom to have another fantastic 
			game this week.

		li. 
			Marcus Williams (F) has been the shining star of the Lions offense thus far 
			averaging 20.1 points a game with an average of 53.7% beyond the arc. 
			Expect him to be the main focus of the Lions’ offensive effort this week.

	p Tickets go on sale at the door 
		strong cash only 
		| $10 for ages 13+; $5 for kids 5-12 years old; 
		|	kids under 4 are free. for more details be sure to check out 
		a(href="https://www.facebook.com/events/750554024981061/") the official event listing on Facebook.

