article#160819
	header
		h2 August 19, 2016
		h1 Rangers Team Tryouts on Oct. 1st
		h3 By Jake Moening
	a(href='/fullimage/headlines/tryouts2.jpg') 
		img(src='../images/headlines/tryouts2.jpg')
	p Do you think you have what it takes to join the 2016 Western Conference 
		| Champions on their return to the top in 2017? Minnesota Rangers are 
		| holding open tryouts for the 2017 season on October 1st at 
		b 9am
		|	. Tryout fee will be 
		b $45, cash only please. 
		
	p Location:
		| Oxford Community Center Gym A
		br
		| 270 Lexington Pkwy N 
		br
		| St. Paul, MN 55104
