article#160912
	header
		h2 September 12, 2016
		h1 Inaugural Season a Success
		h3 By Jake Moening
	a(href='/fullimage/headlines/seasonsuccess.jpg') 
		img(src='../images/headlines/seasonsuccess.jpg')
	p.
		The Minnesota Rangers finished out their first season with the Midwest
		Basketball League with the Western conference title, but came up a hair
		short of the top spot in the post season. They squeeked out a close one 
		against the Eastern conference Indiana Fury in the semifinals matchup, and 
		moved on to play a tough championship match with the Cedar Valley Courtkings
		where they were finally bested. 
	p. 
		The Western Conference Championship trophy will be on display later this year
		at the Oxford Community Center where they played their home games this season.
	p. 
		Following the championship, the Rangers had three representatives head out to 
		the All Star game in Lincoln, IL: Roc Rogers (F),	Tim Lott (F) and Damien Lolar (F).
		The West took down the East with a 172-164 victory and Roc Rogers was named
		MVP of the game with a staggering 42 points.
	p. 
		Looking forward to the offseason the Rangers are set to hold tryouts on October
		1st at Oxford Community Center. The fee will be $45.
