article#161005
	header
		h2 October 05, 2016
		h1 News and Updates
		h3 By Jake Moening
	a(href='/fullimage/headlines/meechbj.jpg') 
		img(src='../images/headlines/meechbj.jpg')
	p
		| The Minnesota Rangers held their first session of tryouts last Saturday and 
		| Sunday over at their home court at the OCC. Candidates were put through a
		| grueling set of conditioning drills to test their physical and mental limits
		| followed by some intense scrimmaging. Overall, the organization was happy 
		| with what they saw and we should know more about how the 2017 roster will
		| be looking over the next few weeks. There is a make-up tryout to be scheduled
		| for those players who communicated that they would be unavailable for the
		| primary tryout date. For more information please contact head coach Jason
		| Sandifer at 
		a(href="mailto:Entrepreneur74@gmail.com") entrepreneur74@gmail.com.
	p
		| Also last weekend, All-Stars Dominique Dawson (C) and Roc Rogers (F) headed
		| to Canada to show of their skills in the NBL Canada Combine and attempt to 
		| snag an NBLC contract for the upcoming season. In case you missed it this past season, 
		| these two were a big part of the Rangers success on the court and we have 
		| no doubt they will go far. We've posted their highlight films on 
		a(href="/") the front page 
		| as well so be sure to check them out!
	p 
		| Roc and Dom weren't the only ones busy making moves this off-season. 
		| The Rangers organization would like to wish good luck to All-Star Tim Lott (F)
		| who recently received an invite to tryout in Frankfurt Germany! Tim became
		| a reliable and regular fixture of the starting unit during the 2016 season
		| and there are definitely more good things to come from him.
	p 
		| The 2016 season was an amazing way to bring the Rangers into the MBL and
		| we look forward to all the great new things that 2017 has to offer! If you 
		| want to be a part of the action as a sponsor or as a season ticket owner
		| we would love to hear from you! Please reach out to 
		a(href="mailto:mnrangerscr@gmail.com") mnrangerscr@gmail.com 
		| for more information!
