article#161018
	header
		h2 October 18, 2016
		h1 New Logo
		h3 By Jake Moening
	a(href='/fullimage/logo.svg') 
		img(src='../images/logo.svg')
	p.
		The Minnesota Rangers are changing things up and are updating the logo for 
		the new season. Changing your look is a big deal, but we think it's worth it
		and we hope you all like it as much as we do! We are going to have more brand
		changes and info on the upcoming 2017 season in the coming weeks so stay tuned 
		for more.
		
