article#161025
	header
		h2 October 25, 2016
		h1 2017 Roster Announcement
		h3 By Jake Moening
	a(href='/fullimage/headlines/roster2017.png') 
		img(src='../images/headlines/roster2017.png')
	p.
		The Minnesota Rangers are proud to announce the 2017 roster today. We have
		a bunch of names you'll remember from 2016 championship run as well as a 
		few new names to add to the list. Keep an eye out over the next few weeks 
		as we update the site to include the new players information and pics as well
		as the schedule for the upcoming 2017 season!

	p
		| The 2017 Rangers roster includes:
		br
		| Ken Bass 
		br
		| Shane Bosek
		br
		| Larry Brown
		br
		| Dominique "Dom" Dawson
		br
		| David Hicks
		br
		| Quinton Jackson
		br
		| Damien Lolar
		br
		| Tim Lott
		br
		| Latrell Love
		br
		| BJ Moore
		br
		| Rochester "Roc" Rogers 
		br
		| Demetrius "Meech" Williams
