article#161211
	header
		h2 December 11, 2016
		h1 Signing Day a Big Success
		h3 By Jake Moening
	a(href='/fullimage/headlines/signing2017.jpg') 
		img(src='../images/headlines/signing2017.jpg')
	p.
		Yesterday, at an event hosted by the St. Paul YWCA, the Minnesota 
		Rangers finally dotted the i's and crossed the t's on the 2017 player roster. 
		With many familiar faces and a few new ones the team is set to move forward 
		and show why the Rangers are the 2017 team to beat.
		
	p.
		Only a few hours after the signing event was complete the new Rangers squad
		met for their first pre-season game in St. Paul where they dominated a Minnesota Broncos
		squad that saw the lead only once at 2-0 before trailing by double digits for
		the vast majority of the game. The Ranger rookies came out playing like they
		had been part of the squad the whole time which does not bode well for the 
		competition in this upcoming season.
	p
		| The 2017 Rookie class:
		br
		| Shane Bosek
		br
		| Larry Brown
		br
		| David Hicks
		br
		| Latrell Love
		br
		| AJ Wilson
