article#170327
	header
		h2 March 03, 2017
		h1 Preview: Rangers vs. Lions
		h3 By Jake Moening
	a(href='/fullimage/headlines/seasonopener2017.jpg') 
		img(src='../images/headlines/seasonopener2017.jpg')
	p.
		This Saturday the Minnesota Rangers will be down in Lincoln, IL to officially 
		open the 2017 season against the Lincoln Lions. 
	p. 
		The Lions and the Rangers met twice last season and the Rangers ended up 
		sweeping the series although both games were tightly contested. Last year 
		is in the past though and both of these teams have had some considerable roster
		changes during the offseason.
	p. 
		The Lions will be without 2016 all-star Myles Harvell who is now signed with
		the Springfield Panthers, so we will see if the remaining pieces of the team are
		able to pick up that slack. Meanwhile, the Rangers have re-signed the entire 2016
		starting lineup including all four all-stars. One of the big changes for the Rangers
		will be the added height and depth to the front court which will help them 
		really control things down low this season.
	p. 
		The Lions, historically, are a solid shooting team from outside and with the 
		return of (F) Marcus Williams and (G) Tommie Ramsey there is a good chance
		they will continue that trend. The Rangers will need to make sure to make sure they
		contest those outside shots to avoid the lions getting on a streak and scoring in bunches.

	p.
		On the other hand, the Lions have not done a historically good job on the glass
		with only 37.5 rebounds per game on average while the Rangers were second best in 
		the league at 58.3 last season. With the return of All-Star (C) Dominique Dawson and the 
		added productivity down low from the newly signed (F/C) AJ Wilson and (F) Latrell Love 
		those numbers should look even better this season.

	p. 
		The Rangers will be away again the following week as they take on the
		Minnesota Pitbulls before returning April 22nd for the home opener against the 
		Wisconsin Storm.
	

		
