article#170422
	header
		h2 April 22, 2017
		h1 Summary: Rangers vs. Eagles
		h1 Preview: Rangers vs. Broncos
		h3 By Jake Moening
	a(href='/fullimage/headlines/game42017.jpg') 
		img(src='../images/headlines/game42017.jpg')
	p.
		After a quick change of plans, the Ranger today met the North Minneapolis 
		Eagles for the home opener. The team had a lot of pent up energy after 
		the past few weeks off, and they let it all out on the Eagles.

	p.
		The Rangers hopped out to a demanding lead in the first half putting the 
		Eagles in a significant hole, but the Eagles came back in the second half 
		getting hot from beyond the arc to pull it briefly within ten points. The 
		Rangers managed to hold on though to close out the win 141-120.

	p.
		The Rangers saw some stellar play once again from veteran (F) Roc Rogers 
		putting up 28 points but that wasn’t enough to earn the game high. 
		That honor went to Latrell Love who came off the bench to put up an incredible 29 points 
		shooting 82% and going on a tear deep in the fourth quarter to help close 
		the door on the Eagles.

	p.
		In the front court there was also plenty to get excited about as we saw (G) 
		Ken Bass put up his first double-double as a Ranger with 13 points and 
		a whopping 17 rebounds! We also saw (G) Meech Williams dish out 11 smooth 
		assists while (G) Quinton Jackson got hot beyond the arc shooting 62% 
		from 3 point range on 8 attempts.

	p.
		It was an impressive outing all around, and other than a some defensive 
		woes in the third quarter, it was exactly what we had hoped to see.

	p.
		If you are around the north end of the cities tomorrow you have a chance 
		to catch the Rangers again as they head to Anoka to face off against 
		the Minnesota Broncos for the first time this season. This should be a 
		great matchup and it could put the Rangers at 4-0 on the season. Be 
		sure to keep your eyes on our Facebook page for all the latest info 
		about the game and all our other upcoming events!

