article#170407
	header
		h2 April 07, 2017
		h1 Preview: Rangers vs. Pitbulls
		h3 By Jake Moening
	a(href='/fullimage/headlines/week22017.jpg') 
		img(src='../images/headlines/week22017.jpg')
	p.
		The Rangers this past week got to take their first road trip out to Lincoln, 
		IL where they brought down the Lions with a 114 - 110 victory. We saw a great 
		performance from the new front court additions (F) Latrell Love and (F/C) AJ 
		Wilson putting up 24 and 14 points respectively and AJ pulled down the team’s 
		sole double-double with 11 rebounds as well. 2016 All-Star (F) Roc Rogers 
		wasted no time in reminding everyone he was back, putting up 24 points and 
		camping out at the free throw line much of the game (15 FTA). As we mentioned 
		in last weeks preview, the Rangers have a historically good record of 
		dominating the glass against the Lions and this game was no exception. 
		Specifically, (C) Dominique Dawson got his hands on a game-high 18 rebounds 
		which was a big part of the team’s tyrannical rule of the glass at 74 total 
		rebounds! 

	p.
		As with all things, there is still room for improvement for this Rangers squad.  
		Many of the same areas that plagued the Rangers early last season hit them 
		again this past weekend. Shots from 3-point range were not dropping at a high 
		rate (20%) and the turnovers were far from optimal at 33. No doubt these 
		items will be ironed out again as this season pushes forward and we are more 
		than optimistic about what we are going to see this week. Especially with the 
		return of two strong talents (F) Shane Bosek and (F) Tim Lott who showed very 
		well in the pre-season.

	p.
		This Saturday the Minnesota Rangers will be on the road again against a crew 
		of their fellow Minnesotans, the Pitbulls, at North Hennepin Community 
		College in Brooklyn Park.

	p.
		The Pitbulls are a new MBL addition in 2017 but they aren’t starting 
		completely from scratch as they have quite a few MBL veterans coming back 
		from both the 2016 Broncos and Rangers squads including 2016 Broncos All-Star 
		(C) Sam Kenyi. They have been showing teams this pre-season that they have 
		some very active hands on defense forcing a considerable number of turnovers 
		and if the offense starts clicking in the same way they could be a tough 
		addition to the Western Conference.

	p.
		Although the Pitbulls are a new addition to the MBL this season, they and the 
		Rangers met during the preseason while the Pitbulls were under construction. 
		This was the first game situation for the Rangers new 2017 lineup as well, so 
		both teams were working with uncertainties. The Rangers did manage to walk 
		away with the 89-84 victory in that one. Now, both Rosters have been settled 
		and each team has a few more games and practices under their belts so we will 
		get a good look at what they will be offering their respective fans this season. 

	p.
		April 22nd will be the spectacular home opener for the Minnesota Rangers at 
		their new location of the High School for Recording Arts in St. Paul less 
		than a mile from last years Oxford facility. They will be hosting the 
		Wisconsin Storm and it promises to be a game that you won’t want to miss.
	
