article#170417
	header
		h2 April 17, 2017
		h1 Preview: Rangers vs. Storm
		h3 By Jake Moening
	a(href='/fullimage/headlines/game32017.jpg') 
		img(src='../images/headlines/game32017.jpg')
	p.
		After a long off-season the big day is finally almost here! The Rangers have their 
		home opener this Saturday the 22nd at their new home facility, the High 
		School for Recording Arts. St. Paul will once again be the best place to 
		watch some high quality MBL basketball thanks to your Minnesota Rangers. If 
		you haven’t been out to see a Rangers game yet then you don’t want to miss 
		this opportunity to be part of the historic 2017 season.

	p.
		Following an unexpected forfeit-win against the Pitbulls on the 8th the Rangers 
		are going into their home opener with a clean 2-0 record on the season. The 
		Rangers are unbeaten in the West along with the 2016 MBL champion 
		CourtKings. Their opponents this week, the Wisconsin Storm, are sitting 
		middle of the pack at 2-1 and will be looking to extend their win streak to 
		three straight.

	p.
		The Storm are in their second official season with the MBL though they had to 
		forfeit the remainder of last season after only a few weeks due to unforeseen 
		issues. This season, however, they are back in a position to take care of 
		business and will be meeting the Rangers a total of two times. This week will 
		be the tougher of the two matchups for the Storm as they come into St. Paul 
		against a well-rested Rangers squad with plenty of home support which has 
		come to be a big strength of the Rangers organization. Pulling off wins over
		the lions and pitbulls will help give them confidence going into this contest.

	p.
		The Rangers are going into this game at nearly full strength; (G) David Hicks 
		will be out due to an ACL injury. This will be the first chance for Ranger 
		fans to see pre-season scoring leader (F) Shane Bosek as well as the return 
		of veteran (F) Tim Lott who both add a significant amount of firepower to 
		an already strong Rangers offense. (F) Latrell Love, who put a lot of pressure on 
		the lions in his MBL debut, has returned from some time playing in the 
		Dominican Republic and should be taking care of business in the paint again 
		as well this week. As an added bonus, fans will get a chance to see 
		the Rangers looking sharp in their new ‘cityscape’ uniforms.

	p.
		Tip-off is at 3:00 PM and admission to the game will be $7 (9 and under are 
		free); snacks will be available at the concessions stand. Aside from all the great basketball 
		action we will have DJ Sean Thomas providing the music, a raffle for a 
		Rangers t-shirt and future game tickets, and a special half-time performance by 
		Josiah Woods courtesy of Reigning Records. We can’t wait to meet see all of 
		our faithful #RangerNation once again this Saturday as we take one step 
		closer to the 2017 championship! #BringHomeTheShip
