article#170427
	header
		h2 April 27, 2017
		h1 Summary: Rangers vs. Broncos
		h1 Preview: Rangers vs. Fury
		h3 By Jake Moening
	a(href='/fullimage/headlines/game52017.jpg') 
		img(src='../images/headlines/game52017.jpg')
	p.
		This past Sunday the Rangers traveled out to the new home of the Minnesota Broncos in Anoka, MN
		looking to keep their win-streak alive. It became immediately apparent that these were not the
		Broncos of the past as they came out firing on all cylinders and working as a strong team on both
		ends of the floor. Unfortunately for them it was not enough to overcome the strength of this 2017
		Rangers squad.

	p.
		Both teams battled ferociously through the first two quarters and it was a great showing for both teams.
		The Broncos went into halftime with a four point lead as the Rangers were beginning to show some
		signs of frustration. However, the Rangers came out of the locker room looking refreshed and refocused and they went to
		work putting the broncos down by around ten for much of the remaining game. There was still
		hope for the Broncos with a couple minutes to go, but solid defense and some excellent rebounding
		in the closing minutes let the Rangers close things out and move to 4-0 with a 116-108 win.

	p.
		(F) Roc Rogers led the Rangers in scoring Sunday putting up another 27 points which was in line with his season average of
		25 ppg so far this season. (G) Meech Williams dished out another 10 assists this game to follow the 11
		from Saturday and came just shy of the triple-double with 10 rebounds and 7 points as well.
		In all, six Rangers ended up in double digit scoring with 26 assists showing good ball movement throughout
		the game. Defensively, the Rangers took things up a notch from Saturday and the addition of (C) AJ Wilson
		helped provide some added rim protection.

	p.
		After back to back games this past weekend the Rangers will get a bit of respite as they are looking at a
		single home game this Sunday at 3PM; they will be hosting the Chicago Fury. The Fury are sitting at 1-2
		so far on the season which is a big shift from their dominant presence in the 2016 season. The loss of some
		key players from last season's roster and one of the more difficult early season schedules has not done
		them any favors.

	p.
		The Rangers showed a marked improvement on defense from last Saturday to Sunday and that will be key in keeping
		Chicago from turning this game into an offensive shootout. If they can do that then there should be more than enough
		offensive firepower to finish the job. The Rangers fared well last season against Chicago at home, but
		they took losses both times that they travelled to Chicago so the Fury are not a team to take lightly.

	p.
		Tip-off for the game is at the HSRA this Sunday at 3:00 PM and admission
		to the game will be $7 (9 and under are free); snacks will be available at the
		concessions stand. Beyond the basketball we will have DJ Sean Thomas providing
		the music and a special half-time performance by Stephon Rene courtesy of Reigning Records.
		We look forward to seeing you there #RangerNation! #BringHomeTheShip

