article#170503
	header
		h2 May 3, 2017
		h1 Summary: Rangers vs. Fury
		h1 Preview: Rangers vs. Dream
		h3 By Jake Moening
	a(href='/fullimage/headlines/game62017.jpg') 
		img(src='../images/headlines/game62017.jpg')
	p.
		This past Sunday the Rangers hosted the Chicago Fury in their first meeting of the
		season. Last season these two teams were neck and neck up to the playoffs and it
		was more of the same over the weekend. Both teams were put through their paces
		on both ends of the court as they headed into halftime tied 50-50. Things began
		to look grim for the Rangers in the third quarter as the Fury backcourt began
		slashing their way to the bucket seemingly at will. The Rangers maintained the
		course however and seemed to find their footing again in the fourth quarter putting
		the Fury down with a final score of 121-117. The Rangers move to 5-0 and the Fury drop to 1-3
		after the contest.

	p.
		(F) Tim Lott led the Rangers in points with 27 points and shooting 61% from the field
		as well as earning the double-double with 14 rebounds. His strong showing in the second
		half played a big role in helping put the Rangers back on track to the win. There
		were a couple more notable double-doubles from the squad as well with (C) Dominique
		Dawson [18 points / 10 rebounds], (G) Quinton Jackson [12 points / 10 assists],
		and (G) Ken Bass [11 points / 12 rebounds]. Jackson also managed to pick up 6 steals with
		some solid defense.

	p.
		The Rangers have a unique matchup this week as they are headed out on a long trip
		to Muncie, Indiana to take on the Eastern Conference's Indiana Dream. This is one
		of two conference crossover games for the Rangers (The Springfield Panthers will
		be coming to Minnesota later this season). The Indiana Dream are currently sitting
		in the middle of the pack in the East at a record of 2-3. The Dream average
		33.7 three-point shots per game which is enough for second in the league, however, they haven't been
		able to capitalize on them as they are currently tied for a league-worst 3 point
		shot percentage in the league at 26.7%. So long as they don't decide to suddenly get hot
		this weekend the Rangers should be able to worry a lot less about the outside
		shooting than they did this past week.

	p.
		The other area where the dream stand out is their extremely low assist average of
		9.3 assists per game which stands in strong contrast with the exceptional ball sharing of the Rangers
		(28.5 assists per game). Add in the high pressure defense that the Rangers have been using
		this season and the Dream could be in trouble as they are forced to either move the
		ball more often than they are used to, or take low percentage shots under the added pressure.

	p.
		The Rangers are going into this game with an overwhelming league lead in rebounding
		at 65.7 boards per game. The offseason additions of (C) AJ Wilson and (F) Latrell Love
		to the front-court as well as the extreme bounce and extra effort of (G) Ken Bass has
		been paying off with plenty of second chance points for the Rangers. If the Rangers
		can find a way to get their shooting percentage back up to a level with the rest of the league
		they will be in an excellent position for when the reigning champion CourtKings roll
		into town the following week.

	p.
		If the Rangers and CourtKings make it out of this weekend with wins we will be looking
		at one heck of a matchup on the 13th as the championship rematch comes loaded with
		the added bonus of deciding who owns sole possession of first place in the West.

