article#170509
	header
		h2 May 09, 2017
		h1 Preview: Rangers vs. CourtKings
		h3 By Jake Moening
	a(href='/fullimage/headlines/game72017.jpg') 
		img(src='../images/headlines/game72017.jpg')
	p.
		Well ladies and gentlemen the time has come for the biggest MBL game of 
		the year outside of the championship. The rematch of the 2016 
		Championship game between the Rangers and CourtKings is coming to St. 
		Paul this Saturday. As a bit of bonus hype both teams are going into this 
		game 6-0 on the season; the only remaining undefeated teams in the entire 
		league. Somebody is walking away from this one with sole possession of 
		first place and an unblemished record.

	p.
		Last season the Rangers bested the CourtKings twice in St. Paul during 
		the regular season before losing to them in the third meeting at the 
		Championship in Minneapolis. The CourtKings have looked dominant in every 
		matchup so far this season and have bolstered their roster this season 
		with some new talent including some former Minnesota players. However, 
		the Rangers have padded their roster as well and have never been defeated at their home court in St. Paul in 
		their existence. They are looking to keep that streak intact and prove 
		that they won the West last year for a reason. This is sure to be an epic 
		contest that you will not want to miss.

	p.
		After a long trip out to Indiana where the Rangers took care of business 
		with the Dream they are now 100% focused on Saturday. While these two 
		teams are almost statistically equal in every way, the Rangers do have an 
		edge in rebounding while the CourtKings have the better shooting 
		percentage from beyond the arc. Both teams are also capable of some 
		stifling defense and I think that will be the real deciding factor 
		Saturday. If one team can come out and really disrupt the flow of the 
		opposing offense it could be devastating.

	p.
		The showdown starts at 3 PM at the HSRA in St. Paul (Doors open at 2:30). 
		Tickets are $7 for those 10 and older. There will be a 50/50 raffle, and 
		entertainment from DJ Sean Thomas and Reigning Records performers, Amanda 
		Yang (National Anthem) & Stephon Rene (half-time performer). This will be 
		one more critical step as the Rangers work to #bringhometheship and we 
		hope to see you come out and support!


