extends layout

block content
	#description
		#description-header Who We Are
		p.
			The Minnesota Rangers basketball team is a semi-pro basketball team 
			based in the Twin Cities. We are part of the Midwest Basketball 
			League and our quest for a CHAMPIONSHIP is lived everyday through 
			players that work hard and strive for excellence.	
	#staff
		h1.white-text Rangers Staff
		ul
			li.staff-member
				.name Michael Wright
				.title Owner / President of Basketball Operations
			li.staff-member
				.name Ahmed Bachelani
				.title Owner / Legal
			li.staff-member
				.name Latisha Moening
				.title Owner / Community Relations Director
			li.staff-member
				.name Roumy Desir 
				.title Treasurer / Community Relations Assistant
			li.staff-member
				.name Jill Fisher 
				.title Athletic Trainer
			li.staff-member
				.name Jason Sandifer
				.title Head Coach
			li.staff-member
				.name Shaunice
				.title Assistant Coach
	#players
		h1.white-text Player Roster
		ul
			li.player
				.name Hubert Thornton
				.position Guard
			li.player
				.name Elmer Mendoza
				.position Forward
			li.player
				.name Zachary Romero
				.position Center-Forward
			li.player 
				.name Johnnie Hall
				.position Forward
			li.player
				.name Randolph Copeland
				.position Forward
			li.player 
				.name Brandon Wise
				.position Guard
			li.player
				.name Homer Bell
				.position Center
			li.player 
				.name Ellis Roberts
				.position Forward
			li.player
				.name Christian Knight
				.position Guard
			li.player 
				.name Hugo Clark
				.position Forward-Guard
