extends layout

block meta
	meta(property="og:image", content="http://mnrangers.com/images/banner.jpg")

block content
	#description
		#description-header Who We Are
		p The Minnesota Rangers basketball team is a semi-pro basketball team 
			| based in the Twin Cities. We are part of the 
			a(href="http://officialmbl.org", target="_blank") Midwest Basketball League 
			| and our quest for a championship is lived everyday through 
			| players that work hard and strive for excellence.	
		p
			a(href="contact", class="btn") Contact Us
