extends layout

block content
	#description
		#description-header Who We Are
		p.
			The Minnesota Rangers basketball team is a semi-pro basketball team 
			based in the Twin Cities. We are part of the Midwest Basketball 
			League and our quest for a CHAMPIONSHIP is lived everyday through 
			players that work hard and strive for excellence.	
	#staff
		h1.white-text Rangers Staff
		ul
			li.staff-member
				img.photo(src="../images/profiles/michael.png")
				.name Michael Wright
				.title Owner / President of Basketball Operations
				.bio
					p Former juvenile correctional officer for 6 years
					p Volunteer fire fighter for 2 years before I moved to paid
					p Volunteer at boys and girls club greater Houston area for 
						| 2 years
					p 2001 state champion
					p NBA free agent
			li.staff-member
				img.photo(src="../images/profiles/ahmed.png")
				.name Ahmed Bachelani
				.title Owner / Legal
				.bio.
					Ahmed Bachelani, the legal liaison is an attorney in the 
					Twin Cities. He has been with the Minnesota Rangers since 
					August 2015 and ensures that all of the transactions meet 
					the legal standards in the State of Minnesota. Ahmed's goal 
					is to make sure that the Rangers Organzation continues to 
					grow and develop players to achieve their goals.
			li.staff-member
				img.photo(src="../images/profiles/latisha.png")
				.name Latisha Moening
				.title Owner / Community Relations Director
				.bio.
					Hello! My name is Latisha Moening. I am the Secretary on 
					the Board for the Minnesota Rangers and also the Community 
					Relations Director. I am a full time college student at the 
					`U of M, a board member and volunteer for Action for 
					Children -Zambia, as well as a wife and mother of two young 
					boys.
			li.staff-member
				img.photo(src="../images/profiles/roumy.png")
				.name Roumy Desir 
				.title Treasurer / Community Relations Assistant
				.bio
			li.staff-member
				img.photo(src="../images/profiles/jill.png")
				.name Jill Fisher 
				.title Athletic Trainer
				.bio
					p Played Basketball, Soccer, and Dance.

					p Enjoys competing in Marathons, relay races, and obstacles 
						events.

					p Competitive Skydiver… Yes you can compete in skydiving!!

					p Sports have always been an important part of my life and 
						| while I’ve always been active my eating habits were 
						| less than ideal. Helping people push beyond their 
						| ‘self-limits’, push beyond their doubts, and help 
						| transform their mental/ psychological/ physical 
						| health. I get to live my dream everyday and watching 
						| people discover their dreams is all worth!!! As a 
						| former athlete, Jill is passionate about helping her
						| patients maintain a healthy well-balanced body or 
						| return from an injury stronger than before.

					p Jill was born in Gardnerville, NV and moved to Minnesota 
						| in 2004 graduating from Minnetonka High School in 
						| 2005. Born from personal experience of losing 80 
						| pounds and overcoming many injuries, Jill lives her 
						| passion by working as a Personal Trainer and a 
						| Massage Therapist.

					p Jill specializes in Deep Tissue, Sports Massage, 
						| Myofascial Release, and PNF (Assisted Stretching). 
						| There is no greater satisfaction then watching your 
						| patients achieve their goals, overcome adversity, and 
						| redefining their “normal”.

					p Special Certifications…
						br
						Nutrition Coach • Pregnancy / Children • 
						Pilates Certified • Kickboxing/ Self- Defense • 
						Beginning Kettle bells • TRX • Indoor water rower • 
						PNF Stretching
			li.staff-member
				img.photo(src="../images/profiles/jason.png")
				.name Jason Sandifer
				.title Head Coach
				.bio.
					Jason Sandifer is a native of St. Paul Minnesota and has 
					lived there nearly his whole life with the exception of time 
					spent in Southern California attending Southern California 
					College (Vanguard University).  Jason went to high school 
					at St. Agnes in St. Paul where he excelled academically and 
					athletically. Upon graduating from St. Agnes Jason went on 
					to Southern California College (Vanguard University) on a 
					basketball scholarship where he majored in Business 
					Management and also played the point guard position. After 
					leaving Southern California Jason made his way back to 
					Minnesota where he worked for a technology company as the 
					Director of Training in which he was responsible for 
					developing and implementing a training program to train the 
					entire organization.  Jason currently works in healthcare 
					as a Patient Safety Strategy/Development Specialist 
					creating strategies to improve patient safety, training all 
					staff in the areas of teamwork and communication and 
					working as a liaison between departments within the 
					organization.
					Jason has been coaching boys AAU basketball since 2001 
					primarily 16U.  Jason has worked as a youth worship leader 
					at Mt. Olivet Baptist Church along with being an adult and 
					youth small group leader. Jason has 4 daughters ranging 
					from 22 years old to 9 and loves spending time with his 
					girls.  Jason enjoys reading, listening to inspirational 
					talks, playing basketball, working out and spending time 
					with family and friends.
			li.staff-member
				img.photo(src="../images/profiles/shaunice.png")
				.name Shaunice Fentress
				.title Assistant Coach
				.bio
	#players
		h1.white-text Player Roster
		ul
			li.player
				.name Kenneth Bass
				.details
					.identifiers
						span.number 8
						span.position SG
						br
						span hometown: 
						span.hometown Chicago,IL
					.vitals
						span height: 
						span.height 6'1"
						br
						span weight: 
						span.weight 190
				.experience Past Teams:
					ul
						li 
			li.player
				.name Sam Mitchell
				.details
					.identifiers
						span.number 5
						span.position PG/SG
						br
						span hometown: 
						span.hometown Brooklyn, NY
					.vitals
						span height: 
						span.height 5'11"
						br
						span weight: 
						span.weight 168
				.experience Past Teams:
					ul
						li 
			li.player
				.name Tim Lott
				.details
					.identifiers
						span.number 13
						span.position SG/SF/PF
						br
						span hometown: 
						span.hometown College Station, TX
					.vitals
						span height: 
						span.height 6'4"
						br
						span weight: 
						span.weight 200
				.experience Past Teams:
					ul
						li Dakota County Tech
			li.player 
				.name Kavaarian Williams
				.details
					.identifiers
						span.number 15
						span.position PG
						br
						span hometown: 
						span.hometown Minneapolis, MN
					.vitals
						span height: 
						span.height 5'7"
						br
						span weight: 
						span.weight 165
				.experience Past Teams:
					ul
						li
			li.player
				.name Bruce Howell
				.details
					.identifiers
						span.number 20
						span.position SF/PF
						br
						span hometown: 
						span.hometown St. Paul, MN
					.vitals
						span height: 
						span.height 6'4"
						br
						span weight: 
						span.weight 250
				.experience Past Teams:
					ul
						li 
			li.player 
				.name BJ Moore
				.details
					.identifiers
						span.number 3
						span.position PG/SG
						br
						span hometown: 
						span.hometown Gary, IN
					.vitals
						span height: 
						span.height 6'1"
						br
						span weight: 
						span.weight 185
				.experience Past Teams:
					ul
						li 
			li.player
				.name Taurice Smith
				.details
					.identifiers
						span.number 10
						span.position PG/SG
						br
						span hometown: 
						span.hometown Minneapolis, MN
					.vitals
						span height: 
						span.height 6'0"
						br
						span weight: 
						span.weight 160
				.experience Past Teams:
					ul
						li 
			li.player 
				.name Demarco "Dee" Davis
				.details
					.identifiers
						span.number 3
						span.position SG/SF
						br
						span hometown: 
						span.hometown Minneapolis, MN
					.vitals
						span height: 
						span.height 6'4"
						br
						span weight: 
						span.weight 190
				.experience Past Teams:
					ul
						li
			li.player
				.name Rochester "Roc"  Rogers
				.details
					.identifiers
						span.number 6
						span.position SF/PF
						br
						span hometown: 
						span.hometown St. Paul, MN
					.vitals
						span height: 
						span.height 6'3"
						br
						span weight: 
						span.weight 215
				.experience Past Teams:
					ul
						li Colorado 14ers
			li.player 
				.name Quinton Jackson
				.details
					.identifiers
						span.number 7
						span.position PG/SG
						br
						span hometown: 
						span.hometown Minneapolis, MN
					.vitals
						span height: 
						span.height 6'0"
						br
						span weight: 
						span.weight 175
				.experience Past Teams:
					ul
						li
			li.player 
				.name Joe Koenig, III
				.details
					.identifiers
						span.number 92
						span.position SG
						br
						span hometown: 
						span.hometown St. Paul, MN
					.vitals
						span height: 
						span.height 6'1"
						br
						span weight: 
						span.weight 195
				.experience Past Teams:
					ul 
						li Hamline University
			li.player 
				.name Damien Lolar
				.details
					.identifiers
						span.number 54
						span.position SF/PF
						br
						span hometown: 
						span.hometown Kansas
					.vitals
						span height: 
						span.height 6'4"
						br
						span weight: 
						span.weight 240
				.experience Past Teams:
					ul
						li 
			li.player 
				.name Darius Campbell
				.details
					.identifiers
						span.number 24
						span.position SG/SF
						br
						span hometown: 
						span.hometown St. Paul, MN
					.vitals
						span height: 
						span.height 6'3"
						br
						span weight: 
						span.weight 195
				.experience Past Teams:
					ul
						li 
