extends layout

block meta
	meta(property="og:image", content="http://mnrangers.com/images/banner.jpg")

block content
	#description
		#description-header Who We Are
		p
			| Minnesota Rangers Basketball is an organization centered around running a 
			| semi-professional basketball team located in Saint Paul, Minnesota. Our team is
			| currently associated with the 
			a(href="http://officialmbl.org", target="_blank") Midwest Basketball League 
			| . The Rangers organization
			| is committed to helping individual improve themselves and become LIFE (Living
			| Incredibly Fearless in Expectation) champions as well as creating positive 
			| relationships between the organization and the surrounding Twin Cities community.
			| We make these changes centered around the game of basketball. 
		br
		p
			| Schools generally concentrate on teaching the fundamental skills of the core 
			| learning areas of reading, writing and mathematics and leave most other life 
			| skills for individuals to learn at home, work and through other means. This 
			| creates a great opportunity for the Rangers organization to step up and help 
			| provide that extracurricular guidance helping better the lives of our players 
			| and also the communities in which they live. 
		br

		p
			| Minnesota Rangers Basketball is currently focused on recruiting men between 
			| the ages of 18 and 35 who are interested in improving themselves and their 
			| basketball skills for the team roster. We do our best to help those men who 
			| want to move on toward professional or college programs via online exposure 
			| and through our connections with colleges and other leagues.
		br

		p
			| Over time, we hope to see the Rangers become an integral part of the local 
			| community and a sought after destination for individuals hoping to improve 
			| and become LIFE champions. 

		a(href="contact", class="btn") Contact Us
