extends layout

block meta
	meta(property="og:image", content="http://mnrangers.com/images/banner.jpg")

block content
	.info
		.info-header Radio Broadcast
		p Minnesota Rangers Basketball is broadcasted live from on
			| Sports 4 Fanz Radio. Click below to listen.
			a.button(href="http://goo.gl/4kAn8q") Sports 4 Fanz Radio
		.info-header Video Rebroadcasts
		p Minnesota Rangers Basketball games are recorded and will be available
			| on YouTube a few days after the game. Come back soon for more info.
