extends layout

block content
	img(src = "/images/community/volunteer-heartland.jpg")
	figcaption Minnesota Rangers team and staff helped to pack 13,750 meals on January 21st at Second Harvest Heartland.
