extends layout

block meta
	meta(property="og:image", content="http://mnrangers.com/images/banner.jpg")

block content
	article
		header
			h2 March 18th 2016
			h1 Minnesota Rangers Basketball Skills Clinic
		img(src = "/images/community/oxfordclinic2017.jpg")
		p.
			Another successful youth skills clinic out at the Oxford Community Center
			in St. Paul. Another huge turn out from the community. We are so blessed
			to be able to share time with the kids of our community!
			
	hr
	article
		header
			h2 February 18th 2017
			h1 Minnesota Rangers Basketball Skills Clinic
		img(src = "/images/community/mlkclinic2017.jpg")
		p.
			Saturday, February 18th, the Minnesota Rangers held another youth skills clinic  
			at the Martin Luther King Recreation Center in St. Paul. It's been great seeing
			so many people come out and so many people returning from our first clinic!
			
	hr
	article
		header
			h2 November 7th 2016
			h1 Minnesota Rangers Basketball Skills Clinic
		img(src = "/images/community/volunteer-oxfordkidsclinic.jpg")
		p.
			Saturday, March 18th, the Minnesota Rangers got together with the Oxford
			Community Center to put on a youth basketball clinic. We had a great time 
			and got to meet some great future stars. We can't wait to do this again!
			
	hr
	article
		header
			h2 March 18th 2016
			h1 Feed My Starving Children
		img(src = "/images/community/volunteer-FMSC.jpg")
		p.
			On Friday, March 18th, some of the Minnesota Rangers staff and team members 
			helped to pack enough food to feed 79 children for an entire year.  This event 
			was at Feed my Starving Children in Eagan, Minnesota.
	hr
	article
		header
			h2 January 21st 2016
			h1 Second Harvest Heartland
		img(src = "/images/community/volunteer-heartland.jpg")
		p. 
			Minnesota Rangers team and staff helped to pack 13,750 meals on January 
			21st at Second Harvest Heartland.
