extends layout

block content
	img(src = "/images/community/volunteer-FMSC.jpg")
	figcaption.
		On Friday, March 18th, some of the Minnesota Rangers staff and team members 
		helped to pack enough food to feed 79 children for an entire year.  This event 
		was at Feed my Starving Children in Eagan, Minnesota.
	hr
	img(src = "/images/community/volunteer-heartland.jpg")
	figcaption Minnesota Rangers team and staff helped to pack 13,750 meals on January 21st at Second Harvest Heartland.
