extends layout

block meta
	meta(property="og:image", content="http://mnrangers.com/images/banner.jpg")

block content
	#info
		h2 Prospective Players
		p Interested in becoming a Ranger? Please contact our coaching staff below.
	hr
	ul
		li.contact
			h2 Community Relations
			a(href="mailto:mnrangerscr@gmail.com") mnrangerscr@gmail.com
		li.contact
			h2 Coaching Staff
			a(href="mailto:entrepreneur74@gmail.com") entrepreneur74@gmail.com
		li.contact
			h2 General Information
			a(href="mailto:mnrangersinfo@gmail.com") mnrangersinfo@gmail.com
		li.contact
			h2 Website Issues
			a(href="mailto:support@unsignedbytes.com") support@unsignedbytes.com
