extends layout

block content
	include headlines/160416_seasonopener.jade
	hr
	include headlines/160109_newowner.jade
	hr
	include headlines/151107_roster.jade
	hr
	include headlines/150920_exhibition.jade
