extends layout

block content
	#schedule-snapshot
		#game-track
			#prev-game.game-summary
				.date DEC 12 2015 4:00PM
				.matchup 
					span.away-team: strong MN Rangers 
					span.at @ 
					span.home-team IA Hornets
				.results 
					span.score (113 - 119) 
					span.outcome.loss L
			#current-game.game-summary
				.date SAT 23 APRIL 12:00PM 
				.matchup 
					span.away-team MN Broncos 
					span.at @ 
					span.home-team: strong MN Rangers
			#next-game.game-summary 
				.date SAT 30 APRIL 10:00AM 
				.matchup
					span.away-team: strong MN Rangers 
					span.at @ 
					span.home-team WI Storm
	#posts
		article
			.image
			h2 January 9, 2015
			h1 Rangers Name New Owner
			a.see-more.red-text(href='../posts') more...
		hr
		article
			.image
			h2 November 7, 2015
			h1 Rangers Roster Takes Shape After Tryouts
			a.see-more.red-text(href='../posts') more...
	hr
	#latest-video
		h3 Latest Video
		#videos
			.video(id='all-in-a-days-work')
				script.
					(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
				.fb-video(data-allowfullscreen='1', data-href='/MNRangersBasketball/videos/vb.798066073581304/960348484019728/?type=3')
			.video(id='fb-training')
				script.
					(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
				.fb-video(data-allowfullscreen='1' data-href='/MNRangersBasketball/videos/vb.798066073581304/949596008428309/?type=3')
		a.see-more.red-text(href='../gallery') see more...
