doctype html
html
	head
		title= title

		// metadata
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Minnesota Rangers Basketball Official Website')
		meta(name='keywords', content='basketball, rangers, minnesota, mn, mnrangers, minnesota rangers, midwest basketball league')
		block meta

		// fonts
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Bitter:400,700', rel='stylesheet', type='text/css')

		// stylesheets
		link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/#{page}.css')

		// icons
		link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
		link(rel='icon' type='image/png', sizes='192x192' , href='/android-icon-192x192.png')
		link(rel='icon' type='image/png', sizes='32x32', href='/favicon-32x32.png')
		link(rel='icon' type='image/png', sizes='96x96', href='/favicon-96x96.png')
		link(rel='icon' type='image/png', sizes='16x16', href='/favicon-16x16.png')
		link(rel='manifest', href='/manifest.json')
		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
		meta(name='theme-color', content='#ffffff')
		script(src='/javascripts/googleanalytics.js')
	body
		.container
			#header 
				img#logo(src="/images/logo.svg")
				#header-text
					h1.red-text MN
					h1.white-text RANGERS
				button#hamburger-menu
					.hamburger-line
					.hamburger-line
					.hamburger-line
				nav#top-navigation
					a.toplink(href='/headlines') Headlines
					.toplink Schedule
						.lowerlink-container(style='display:none;')
							a.lowerlink(href='/schedule') Game Schedule
							a.lowerlink(href='/venue') Oxford Community Center
							a.lowerlink(href='/tickets') Ticket Info
							a.lowerlink(href='/broadcastinfo') Broadcast Info

					.toplink Team
						.lowerlink-container(style='display:none;')
							a.lowerlink(href='/roster') Roster
							a.lowerlink(href='/depth') Depth Chart
							a.lowerlink(href='http://www.mblstats.com/teams/default.asp?u=MIDWESTBASKETBALLLEA3&s=basketball&p=stats&div=634830', target="_blank") Stats
							a.lowerlink(href='/frontoffice') Front Office
							a.lowerlink(href='/contact') Contact Us

					a.toplink(href='/community') Community

					.toplink(href='/about') About
						.lowerlink-container(style='display:none;')
							a.lowerlink(href='/about') The Organization
							a.lowerlink(href='/sponsors') Our Sponsors
			block banner
			#main-content
				block content
			#footer
				#social-media
					a.facebook(title="View MN Rangers' profile on Facebook", href="https://www.facebook.com/MNRangersBasketball/", target="_blank") 
					a.twitter(title="View MN Rangers' profile on Twitter", href="https://twitter.com/MN_Rangers/", target="_blank") 
				#copyright
					p
						| © 2016 Minnesota Rangers Basketball, Inc. All Rights Reserved. 
						| Design by 
						a(href='http://www.unsignedbytes.com/') UnsignedBytes, LLC
		// scripts
		script(src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js')
		script(src='/javascripts/main.js')
		script(src='/javascripts/#{page}.js')
