doctype html
html
	head
		title= title

		// metadata
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Minnesota Rangers Basketball Official Website')
		meta(name='keywords', content='basketball, rangers, minnesota, mn, mnrangers, midwest basketball league')

		// fonts
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Bitter:400,700', rel='stylesheet', type='text/css')

		// stylesheets
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/#{page}.css')

		// icons
		link(rel='shortcut icon', type='image/x-icon', href='https://secure.gravatar.com/blavatar/389d5f139f23443f614caa6aea278d55?s=16', sizes='16x16')
		link(rel='icon', type='image/x-icon', href='https://secure.gravatar.com/blavatar/389d5f139f23443f614caa6aea278d55?s=16', sizes='16x16')
		link(rel='apple-touch-icon-precomposed', href='https://secure.gravatar.com/blavatar/b054b3a116bb7ca704f760d6dca6ae72?s=114')

		// scripts
		//- Allow :active styles to work in CSS on a page in mobile safari
		script.
			document.addEventListener("touchstart", function(){}, true);
	body
		.container
			#header 
				#header-text
					h1.red-text MN
					h1.white-text RANGERS
				button#hamburger-menu
					.hamburger-line
					.hamburger-line
					.hamburger-line
			#banner
				#mission-statement.
					Mission - To build LIFE champions through the development of skills, talents, character and integrity. Living Incredibly Fearless in Expectancy
			#main-content
				block content
			#footer-section
			#copyright
				p(style='white-space:pre;')
					| © 2015 Minnesota Rangers. All Rights Reserved 
					| Design by 
					a(href='http://www.unsignedbytes.com/') UnsignedBytes, LLC
