doctype html
html
	head
		title= title

		// metadata
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Minnesota Rangers Basketball Official Website')
		meta(name='keywords', content='basketball, rangers, minnesota, mn, mnrangers, midwest basketball league')

		// fonts
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Bitter:400,700', rel='stylesheet', type='text/css')

		// stylesheets
		link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/#{page}.css')

		// icons
		link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
		link(rel='icon' type='image/png', sizes='192x192' , href='/android-icon-192x192.png')
		link(rel='icon' type='image/png', sizes='32x32', href='/favicon-32x32.png')
		link(rel='icon' type='image/png', sizes='96x96', href='/favicon-96x96.png')
		link(rel='icon' type='image/png', sizes='16x16', href='/favicon-16x16.png')
		link(rel='manifest', href='/manifest.json')
		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
		meta(name='theme-color', content='#ffffff')
	body
		.container
			#header 
				img#logo(src="../images/logo.png")
				#header-text
					h1.red-text MN
					h1.white-text RANGERS
				button#hamburger-menu
					.hamburger-line
					.hamburger-line
					.hamburger-line
				nav#top-navigation
					a(href='about') About
					a(href='schedule') Schedule
					a(href='headlines') Headlines
					a(href='gallery') Gallery
					a(href='contact') Contact
			#banner
				#mission-statement.
					Mission - To build LIFE champions through the development of skills, talents, character and integrity. Living Incredibly Fearless in Expectancy
			#main-content
				block content
			#footer
				#social-media
					a.facebook(title="View MN Rangers' profile on Facebook", href="https://www.facebook.com/MNRangersBasketball/", target="_blank") 
					a.twitter(title="View MN Rangers' profile on Twitter", href="https://twitter.com/MN_Rangers/", target="_blank") 
				#copyright
					p(style='white-space:pre;')
						| © 2016 Minnesota Rangers Basketball, Inc. All Rights Reserved 
						| Design by 
						a(href='http://www.unsignedbytes.com/') UnsignedBytes, LLC
		// scripts
		script(src='/javascripts/main.js')
		script(src='/javascripts/#{page}.js')
