extends layout

block content
	article
		header
			h2 November 7, 2015
			h1 Rangers Roster Takes Shape After Tryouts
		img(src='../images/posts/tryouts.jpg')
		p.
			Team tryouts are complete and the Minnesota Rangers roster now 
			features 15 players who hope to be part of opening day of the 
			2016 Midwest Basketball League season. The inaugural season of 
			the MBL is scheduled to begin in April of 2016.  Tryouts were 
			held on October 3 at the Jimmy Lee Rec Center in St. Paul.	
	hr
	article
		header
			h2 September 20, 2015
			h1 Minnesota Rangers Top Broncos in Exhibition
		img(src='../images/posts/rookie-game.jpg')
		p.
			In a hard fought battle between the two teams the rangers came
			out on top with a final score of 93 to 92. 
