extends layout

block content
	article
		header
			h2 January 9, 2015
			h1 Rangers Name New Owner
		img(src='../images/posts/new-owner.jpg')
		p.
			The Rangers welcomed Latisha Moening as the newest member of the 
			ownership group today. Moening has been with the team and on the 
			board since July in the role of Community Relations Director and 
			decided to take on a larger role in the organization after spending 
			the past few months helping out with more of the day to day work 
			within the organization. 
	hr
	article
		header
			h2 November 7, 2015
			h1 Rangers Roster Takes Shape After Tryouts
		img(src='../images/posts/tryouts.jpg')
		p.
			Team tryouts are complete and the Minnesota Rangers roster now 
			features 15 players who hope to be part of opening day of the 
			2016 Midwest Basketball League season. The inaugural season of 
			the MBL is scheduled to begin in April of 2016.  Tryouts were 
			held on October 3 at the Jimmy Lee Rec Center in St. Paul.	
	hr
	article
		header
			h2 September 20, 2015
			h1 Minnesota Rangers Top Broncos in Exhibition
		img(src='../images/posts/rookie-game.jpg')
		p.
			In a hard fought battle between the two teams the rangers came
			out on top with a final score of 93 to 92. 
