extends layout

block content
	table
		tr
			th Home
			th Away
			th Date
			th Time
			th Result
		tr
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td
				img(src = "/images/otherLogos/broncos-32x32.png")
				span  Minnesota Broncos
			td Sat. April 23rd
			td TBD
			td
		tr
			td
				img(src = "/images/otherLogos/storm-32x32.png")
				span  Wisconsin Storm 
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers  
			td Sat. April 30th 
			td TBD
			td
		tr
			td
				img(src = "/images/otherLogos/fury-32x32.png")
				span  Chicago Fury   
			td.rangers 
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td Sun. May 15th  
			td TBD
			td
		tr
			td
				img(src = "/images/otherLogos/hornets-32x32.png")
				span  Sioux City Hornets    
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td Sun. May 22nd
			td TBD
			td
		tr
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td
				img(src = "/images/otherLogos/courtKings-32x32.png")
				span  Cedar Valley CourtKings
			td Sat. May 28th
			td TBD
			td
		tr
			td
				img(src = "/images/otherLogos/broncos-32x32.png")
				span  Minnesota Broncos
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td Sat. June 4th
			td TBD
			td
		tr
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td
				img(src = "/images/otherLogos/storm-32x32.png")
				span  Wisconsin Storm
			td Sat. June 11th
			td TBD
			td
		tr
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td
				img(src = "/images/otherLogos/fury-32x32.png")
				span  Chicago Fury
			td Sat. June 18th
			td TBD
			td
		tr
			td
				img(src = "/images/otherLogos/hornets-32x32.png")
				span  Sioux City Hornets
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td Sat. June 25th
			td TBD
			td
		tr
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td
				img(src = "/images/otherLogos/courtKings-32x32.png")
				span  Cedar Valley CourtKings
			td Sat. July 9th
			td TBD
			td
		tr
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td
				img(src = "/images/otherLogos/broncos-32x32.png")
				span  Minnesota Broncos
			td Sat. July 16th
			td TBD
			td
		tr
			td
				img(src = "/images/otherLogos/storm-32x32.png")
				span  Wisconsin Storm
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td Sat. July 23rd
			td TBD
			td
		tr
			td
				img(src = "/images/otherLogos/fury-32x32.png")
				span  Chicago Fury
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td Sat. July 30th
			td TBD
			td
		tr
			td.rangers
				img(src = "/favicon-32x32.png")
				span  Minnesota Rangers
			td
				img(src = "/images/otherLogos/hornets-32x32.png")
				span  Sioux City Hornets
			td Sat. August 6th
			td TBD
			td


