extends layout

block content
	table
		tr
			th.matchup-col Matchup
			th.dateTime-col Date / Time
			th.location-col Location
			th.result-col Result
		tr
			td
				div
					img(src = "/images/otherLogos/broncos-32x32.png")
					span  Minnesota Broncos
				div.at @
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
			td Sat. April 23rd 1:00 PM
			td 
					a(href="https://goo.gl/maps/88GHQXp9k852" target="_blank") Oxford Community Center
			td
		tr
			td
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
				div.at @
				div
					img(src = "/images/otherLogos/storm-32x32.png")
					span  Wisconsin Storm 
			td Sat. April 30th 3:00 PM
			td
					a(href="https://goo.gl/maps/6JBJVnYyvRA2" target="_blank") New Testament Academy Gym
			td
		tr
			td
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
				div.at @
				div
					img(src = "/images/otherLogos/fury-32x32.png")
					span  Chicago Fury   
			td Sun. May 15th 2:30 PM
			td
					a(href="https://goo.gl/maps/RNKvdSsQiUG2" target="_blank") Adele and Robert Stern Center
			td
		tr
			td
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
				div.at @
				div
					img(src = "/images/otherLogos/hornets-32x32.png")
					span  Sioux City Hornets    
			td Sun. May 22nd 6:00 PM
			td
					a(href="https://goo.gl/maps/UypQmqs8Ewr" target="_blank") Sioux City Boy's Club
			td
		tr
			td
				div
					img(src = "/images/otherLogos/courtKings-32x32.png")
					span  Cedar Valley CourtKings
				div.at @
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers			
			td Sat. May 28th 1:00 PM
			td 
					a(href="https://goo.gl/maps/88GHQXp9k852" target="_blank") Oxford Community Center
			td
		tr
			td
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
				div.at @
				div
					img(src = "/images/otherLogos/broncos-32x32.png")
					span  Minnesota Broncos
			td Sat. June 4th 7:00 PM
			td 
					a(href="https://goo.gl/maps/88GHQXp9k852" target="_blank") Oxford Community Center
			td
		tr
			td
				div
					img(src = "/images/otherLogos/storm-32x32.png")
					span  Wisconsin Storm
				div.at @
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
			td Sat. June 11th 1:00 PM
			td
					a(href="https://goo.gl/maps/18qYUjfoeG42" target="_blank") Eagan Community Center
			td
		tr
			td
				div
					img(src = "/images/otherLogos/fury-32x32.png")
					span  Chicago Fury
				div.at @
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
			td Sat. June 18th 1:00 PM
			td 
					a(href="https://goo.gl/maps/88GHQXp9k852" target="_blank") Oxford Community Center
			td
		tr
			td
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
				div.at @
				div
					img(src = "/images/otherLogos/hornets-32x32.png")
					span  Sioux City Hornets
			td Sat. June 25th 6:00 PM
			td
					a(href="https://goo.gl/maps/UypQmqs8Ewr" target="_blank") Sioux City Boy's Club
			td
		tr
			td
				div
					img(src = "/images/otherLogos/courtKings-32x32.png")
					span  Cedar Valley CourtKings
				div.at @
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
			td Sat. July 9th 1:00 PM
			td 
					a(href="https://goo.gl/maps/88GHQXp9k852" target="_blank") Oxford Community Center
			td
		tr
			td
				div
					img(src = "/images/otherLogos/broncos-32x32.png")
					span  Minnesota Broncos
				div.at @
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
			td Sat. July 16th 1:00 PM
			td 
					a(href="https://goo.gl/maps/88GHQXp9k852" target="_blank") Oxford Community Center
			td
		tr
			td
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
				div.at @
				div
					img(src = "/images/otherLogos/storm-32x32.png")
					span  Wisconsin Storm
			td Sat. July 23rd 3:00 PM
			td
					a(href="https://goo.gl/maps/6JBJVnYyvRA2" target="_blank") New Testament Academy Gym
			td
		tr
			td
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
				div.at @
				div
					img(src = "/images/otherLogos/fury-32x32.png")
					span  Chicago Fury
			td Sat. July 30th 2:30 PM
			td
					a(href="https://goo.gl/maps/RNKvdSsQiUG2" target="_blank") Adele and Robert Stern Center
			td
		tr
			td
				div
					img(src = "/images/otherLogos/hornets-32x32.png")
					span  Sioux City Hornets
				div.at @
				div.rangers
					img(src = "/favicon-32x32.png")
					span  Minnesota Rangers
			td Sat. August 6th 1:00 PM
			td 
					a(href="https://goo.gl/maps/88GHQXp9k852" target="_blank") Oxford Community Center
			td


