extends layout

block meta
	meta(property="og:image", content="http://mnrangers.com/images/banner.jpg")

block content
	//.sponsor
		a(href="http://ibackcheck.com/", target="_blank")
			img(src="images/sponsors/ibackcheck.png", alt="iBackCheck Sport Therapy Logo")

	//hr

	.sponsor
		a(href="http://www.unsignedbytes.com", target="_blank")
			img(src="images/sponsors/unsignedbytes.png", alt="UnsignedBytes, LLC Logo")

	//hr

	//.sponsor
		a(href="https://www.facebook.com/JILL-Fisher-LLC-113768982874/", target="_blank")
			h1 Jill Fisher, LLC
