extends layout

block meta
	meta(property="og:image", content="http://mnrangers.com/images/banner.jpg")

block content
	.info
	.info
		.info-header Individual Game Tickets
		p For home games, tickets go on sale at the door 
			strong cash only 
			| $10 for ages 13+; $5 for kids 5-12 years old; 
			|	kids under 4 are free. Click below to find home game dates.
			a.button(href="/schedule") Schedule

		.info-header Season Ticket Information
		p Now is your chance to be a part of the action all season long.
			| Season tickets for all seven Minnesota Rangers regular season home games 
			| are only $50 for ages 13+ and only $25 for kids ages 5-12. Children 4 and under
			| get in free all season long. To purchase season tickets or to find out 
			| more please contact 
			a.link(href="mailto:mnrangerscr@gmail.com") mnrangerscr@gmail.com

		.info-header Supporters
		p Become a Minnesota Rangers Supporter and help out your team!
			li Your one time investment will be used to cover season expenses such as:
				| uniforms, equipment, travel expenses, and more.
			li Silver, Gold, and Platinum Supporters will receive a Minnesota Rangers
				| T-shirt.
			li All levels will receive a Thank You Certificate by staff and the team

		p 
			strong Supporter Levels
			li Bronze: $25-$200
			li Silver: $201-$500
			li Gold: $501-$999
			li Platinum: $1000+
		p For more information on becoming a supporter please contact 
			a.link(href="mailto:mnrangerscr@gmail.com") mnrangerscr@gmail.com

		
