extends layout

block meta
	meta(property="og:image", content="http://mnrangers.com/images/banner.jpg")

block content
	.info
		.info-header Season Ticket Information
		p Season ticket prices are available on request.
			| To purchase season tickets or find out more please contact 
			a.link(href="mailto:mnrangerscr@gmail.com") mnrangerscr@gmail.com

	.info
		.info-header Individual Game Tickets
		p For home games, tickets go on sale at the door 
			strong cash only 
			| $10 for ages 13+; $5 for kids 5-12 years old; 
			|	kids under 4 are free. Click below to find home game dates.
			a.button(href="/schedule") Schedule
		
