extends layout

block banner
	#banner

block meta
	meta(property="og:image", content="http://mnrangers.com/images/banner.jpg")

block content
	#description
		#description-header High School for Recording Arts
		p High School for Recording Arts is the home court of the Minnesota Rangers. 
			|Games are held in the gym to the west end of the building. Concessions
			|are available throughout the game and free parking is available right
			|outside. Doors open to the public at 2:30pm on game days.
		img(src="../images/hsra.jpg", alt="High School for Recording Arts")
		#details
			p: strong Address
			p High School for Recording Arts
			p 1166 University Ave W.  
			p Saint Paul, MN  55104
			p Phone: 
				a.link(href="tel:+16512870890") 651-287-0890
			a.button(href="https://goo.gl/maps/oGASgUFj8KJ2") Map It
			br
			p: strong Onsite Contact
			p Brian Sandifer
			a.link(href="mailto:grassrootshoops@yahoo.com") grassrootshoops@yahoo.com

