extends layout

block banner
	#banner

block meta
	meta(property="og:image", content="http://mnrangers.com/images/banner.jpg")

block content
	#description
		#description-header Oxford Community Center
		p Oxford Community Center is the home court of the Minnesota Rangers. 
			|Games are held in Gym A which is immediately to the left when entering the top
			|main doors of the building. Concessions for games are provided by Oxford
			|Community Center and not the Minnesota Rangers organization.
		img(src="../images/oxfordcc.jpg", alt="Oxford Community Center")
		#details
			p: strong Address
			p Oxford Community Center
			p 270 Lexington Parkway North
			p Saint Paul, MN  55104
			p Phone: 651-642-0650
			a.button(href="https://goo.gl/maps/SKv4Ghs45932") Map It
			br
			p: strong Onsite Contact
			p Dan  Berchem
			p Dan.Berchem@ci.stpaul.mn.us

