ul>li {
	list-style-type: none;
}

#description {
	padding: 1em;
}

#description-header {
	text-align: center;
	font-size: 1.3em;
}

#description p {
	text-align: justify;
}

#staff, #players {
	padding: 0.5em;
}

#staff>h1, #players>h1 {
	text-align: center;
	background-color: black;
	border: 4px solid #C70F17;
	padding: 0.1em;
}

#staff .name, .player .name {
	font-weight: 800;
	font-size: 1.3em;
}

#staff .title, .details{
	font-size: 0.8em;
}

.staff-member .photo {
	height: 5em;
	width: 5em;
}

.staff-member {
	padding: 0.5em;
	min-height: 7em;
}

.staff-member:nth-child(odd) {
	background-color: #DDD;
}

.position-title {
	text-align: center;
	font-size: 1.4em;
	background-color: #EFEFEF;
	color: #333;
}

.player {
	padding: 0.5em;
}

.player:nth-child(odd) {
	background-color: #DDD;
}

.player .number::after {
	content: " • ";
}

.details {
	display: flex;
	justify-content: space-between;
}

.number, .position {
	font-size: 1.3em;
}

.vitals {
	min-width: 6em;
}

.height, .weight {
	font-style: italic;
}

.experience {
	border-top: 1px solid #999;
	margin-top: 0.5em;
	padding-top: 0.5em;
}

.experience li {
	font-size: 0.8em;
    font-weight: 600;
    padding-left: 1em;
}

@media only screen and (max-device-width: 532px) {
	#players>h1 {
		font-size: 1.8em;
	}

	.staff-member .photo {
		float: right;
		height: 5em;
		width: 5em;
	}
}

@media only screen and (min-device-width: 533px)
	and (orientation: portrait)
	and (max-device-width: 660px) {

	.staff-member .photo {
		float: right;
		height: 5em;
		width: 5em;
	}
}


@media only screen and (min-device-width: 533px)
	and (orientation:landscape)
	and (max-device-width: 660px) {

	.staff-member .photo {
		float: right;
		height: 5em;
		width: 5em;
	}
}

@media only screen and (min-device-width: 660px)
	and (orientation: portrait)
	and (max-device-width: 768px) {

	.staff-member .photo {
		height: 7em;
		width: 7em;
	}

	.staff-member {
		padding: 0.5em;
		min-height: 7em;
		text-align: center;
	}
}

@media only screen and (min-device-width: 660px)
	and (orientation: landscape)
	and (max-device-width: 768px) {

	.staff-member .photo {
		height: 7em;
		width: 7em;
	}

	.staff-member {
		padding: 0.5em;
		min-height: 7em;
		text-align: center;
	}
}

@media only screen and (min-device-width: 768px)
	and (orientation: portrait)
	and (max-device-width: 989px) {

	.staff-member .photo {
		height: 7em;
		width: 7em;
	}

	.staff-member {
		padding: 0.5em;
		min-height: 7em;
		text-align: center;
	}
}

@media only screen and (min-device-width: 768px)
	and (orientation: landscape)
	and (max-device-width: 989px) {

	.staff-member .photo {
		height: 7em;
		width: 7em;
	}

	.staff-member {
		padding: 0.5em;
		min-height: 7em;
		text-align: center;
	}
}

@media only screen and (min-device-width: 990px)
	and (orientation: portrait) {

	.staff-member .photo {
		height: 7em;
		width: 7em;
	}

	.staff-member {
		padding: 0.5em;
		min-height: 7em;
		text-align: center;
	}
}

@media only screen and (min-device-width: 990px)
	and (orientation: landscape) {

	.staff-member .photo {
		height: 7em;
		width: 7em;
	}

	.staff-member {
		padding: 0.5em;
		min-height: 7em;
		text-align: center;
	}
}

