#main-content {
	text-align: center;
	padding: 1em;
}

#main-content img {
	width: 100%;
}

@media only screen and (max-device-width: 532px) {
}

@media only screen and (min-device-width: 533px)
	and (orientation: portrait)
	and (max-device-width: 660px) {
}


@media only screen and (min-device-width: 533px)
	and (orientation:landscape)
	and (max-device-width: 660px) {
}

@media only screen and (min-device-width: 660px)
	and (orientation: portrait)
	and (max-device-width: 768px) {
}

@media only screen and (min-device-width: 660px)
	and (orientation: landscape)
	and (max-device-width: 768px) {
}

@media only screen and (min-device-width: 768px)
	and (orientation: portrait)
	and (max-device-width: 989px) {
}

@media only screen and (min-device-width: 768px)
	and (orientation: landscape)
	and (max-device-width: 989px) {
}

@media only screen and (min-device-width: 990px)
	and (orientation: portrait) {
}

@media only screen and (min-device-width: 990px)
	and (orientation: landscape) {
}

