#main-content>hr {
	margin: 1em 0;
}

#game-track {
	display: flex;
	justify-content: center;
	font-family: 'Bitter', serif;
	border: #333 8px;
	border-style: double hidden;
}

.game-summary {
	border: 1px #AAA solid;
	padding: 0 0.5em 0.5em 0.5em;
	background-color: #FFF1F1;
}

.game-summary>.matchup {
	text-align: center;
}

.game-summary>.date {
	color: #999;
	font-size: 0.7em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 1em;
}

.game-summary>.results { text-align: center; }
.outcome { font-weight: 600; }
#current-game { flex-grow: 1; }
.loss { color: #D66; }
.win { color: #6D6; }

#news article {
	padding: 1em 0 0 0;
}

article.training {
	background: no-repeat url(https://scontent-ord1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/12400953_956951201026123_5672089673858249964_n.jpg?oh=818d41c5ed926f91f91af9ad5ffa1b7c&oe=57186F48);
	background-position: -1em;
	background-size: cover;
}

article.tryouts {
	background: no-repeat url(https://lh3.googleusercontent.com/TPBUqHM9oripqHon69o1YkZOrz2-PS_7SUVw8hIRS2PayEBnI8Ukz2E-gfMwsTj7BGj1AKwn0kdWqwY3FY_J3ntbSo_bftQQDtrMjdyT2wVx1X6hAZWK5djS1Qs_LFnlFp5LKswzXVLtYFNHcG4YTSNRZiiPJiiqXNM8GQ8jpOcTqac-Z4W4MKV-Kes8Knl7DRovSJJPAS5aznjIQPZubr5aCa0g3jsWKB03g5hEXz6rndEmfYCe6WgDKSJYT5PCPO9xHO1Z0FbOT8qyTIdKIyqcna8I2ds6_7E3rnrsSHaqQxRZhsMYvmKg8jLSb6b7FDPuF3KrjO3uwrYT1nNGkYK9DTNQI-knLTg05WkjSAcp6o4VwnFmLaKzqxZP02p6NkUd6oCFIhYrRIj908U8j91fo_fJboDMicu7rqJRMVT0siNb_BGDNRvwaYqXp4LroNTB6IOZmc88CeiGXdZWrRz43NVikR8l8cu6w7SK-DsxM8Sblj1K2RyeufjXsWCOAmJFjcauyqk5HoUozvkSHcCzPSoWD-pJ6bLoVd30WwN3N7Ejt30LBMjDtIAKePMknXBlVg=w1324-h882-no);
	background-position-y: -3em;
	background-size: 100%;
}

article img {
	width: 100%;
}

#news article h1 {
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	padding: 0 1em;
}

#news article h2 {
	color: #800;
	text-align: right;
	font-size: 0.7em;
	padding-right: 1em;
	text-transform: uppercase;
}

#latest-video h3 {
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #333;
}


/* <= 400px */
@media only screen and (max-device-width: 400px) {

	#prev-game { display: none; }
	#next-game { display: none; }

	.game-summary>.matchup {
		font-size: 1.4em;
	}
}

/* 401px  - 450px */
@media only screen and (min-device-width: 401px)
	and (max-device-width: 450px) {

	.game-summary>.matchup>span {
		display: block;
		text-align: center;
	}
}

/* 451px  - 660px PORTRAIT */
@media only screen and (min-device-width: 451px)
	and (orientation: portrait)
	and (max-device-width: 660px) {

	.game-summary>.matchup>span {
		display: block;
		text-align: center;
	}
}

/* 451px  - 660px LANDSCAPE */
@media only screen and (min-device-width: 451px)
	and (orientation:landscape)
	and (max-device-width: 660px) {

	.game-summary>.matchup>span {
		display: block;
		text-align: center;
	}
}

/* 661px  - 768px PORTRAIT */
@media only screen and (min-device-width: 661px)
	and (orientation: portrait)
	and (max-device-width: 768px) {

	#latest-video {
		max-width: 400px;
	}
}

/* 661px  - 768px LANDSCAPE */
@media only screen and (min-device-width: 661px)
	and (orientation: landscape)
	and (max-device-width: 768px) {
}

/* 769px  - 989px PORTRAIT */
@media only screen and (min-device-width: 769px)
	and (orientation: portrait)
	and (max-device-width: 989px) {

	#current-game {
		font-size: 1.4em;
	}

	#current-game>.date {
		margin-bottom: 0;
	}
}

/* 769px  - 989px LANDSCAPE */
@media only screen and (min-device-width: 769px)
	and (orientation: landscape)
	and (max-device-width: 989px) {

	#current-game {
		font-size: 1.4em;
	}

	#current-game>.date {
		margin-bottom: 0;
	}
}

/* >= 990px PORTRAIT */
@media only screen and (min-device-width: 990px)
	and (orientation: portrait) {

	#current-game {
		font-size: 2em;
	}

	#current-game>.date {
		margin-bottom: 0;
	}
}

/* >= 990px LANDSCAPE */
@media only screen and (min-device-width: 990px)
	and (orientation: landscape) {

	#current-game {
		font-size: 2em;
	}

	#current-game>.date {
		margin-bottom: 0;
	}
}

