#main-content>hr {
	margin: 1em 0;
}

.rangers {
	font-weight: 800;
}

.see-more {
	text-align: right;
	width: 95%;
	display: inline-block;
}

#banner {
	background: no-repeat center url(../images/banner.jpg);
	background-size: cover;
	width: 100%;
	height: 15em;
}

.win-grn {
	color: #0A0;
}

.win-grn:after {
	content: " (W)"
}

.loss-red {
	color: #A00;
}

.loss-red:after {
	content: " (L)"
}

#game-track {
	display: flex;
	justify-content: center;
	font-family: 'Bitter', serif;
	border: #333 8px;
	border-style: double hidden;
	color: #FFF;
}

.game-summary {
	border: 1px #AAA solid;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background-color: #000;
	cursor: pointer;
}

.game-summary>.matchup {
	text-align: center;
}

.game-summary>.date {
	color: #C70F17;
	font-size: 0.7em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 1em;
}

.result {
	margin-top: 0.5em;
}

#current-game { flex-grow: 1; }

#headlines article {
	padding: 1em 0 1em 0;
	cursor: pointer;
}

#headlines article:nth-child(1) .image {
	background: no-repeat url(../images/logo.svg);
	background-size: 50%;
	background-position: 50px;
}

#headlines article:nth-child(3) .image {
	background: no-repeat url(../images/headlines/home-opener.jpg);
	background-size: 100%;
}

article .image {
	width: 15em;
	height: 8em;
	display: none;
	border-radius: 0.5em;
}

#headlines article h1 {
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	padding: 0 1em;
}

#headlines article h2 {
	color: #800;
	text-align: right;
	font-size: 0.7em;
	padding-right: 1em;
	text-transform: uppercase;
}

#latest-video h3 {
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #333;
	padding-bottom: 1em;
}


/* <= 400px */
@media only screen and (max-device-width: 400px) {

	#prev-game { display: none; }
	#next-game { display: none; }

	.game-summary>.matchup {
		font-size: 1.4em;
	}
}

/* 401px  - 450px */
@media only screen and (min-device-width: 401px)
	and (max-device-width: 450px) {

	.game-summary>.matchup>span {
		display: block;
		text-align: center;
	}

	#banner {
		background-position-y: -2.8em;
		height: 10em
	}

}

/* 451px  - 660px PORTRAIT */
@media only screen and (min-device-width: 451px)
	and (orientation: portrait)
	and (max-device-width: 660px) {

	#banner {
		background-position-y: -2.8em;
		height: 11.5em
	}

	.game-summary>.matchup>span {
		display: block;
		text-align: center;
	}
}

/* 451px  - 660px LANDSCAPE */
@media only screen and (min-device-width: 451px)
	and (orientation:landscape)
	and (max-device-width: 660px) {

	#banner {
		background-position-y: -2.8em;
		height: 11.5em
	}

	.game-summary>.matchup>span {
		display: block;
		text-align: center;
	}
}

/* 661px  - 768px PORTRAIT */
@media only screen and (min-device-width: 661px)
	and (orientation: portrait)
	and (max-device-width: 768px) {

	#banner {
		background-position-y: -5em;
	}

	#latest-video {
		max-width: 400px;
	}

	#headlines {
		display: flex;
		justify-content: space-around;
	}

	#headlines hr {
		display: none;
	}
	#headlines article {
		max-width: 40%;
		text-align: center;
	}

	#headlines article h2 {
		text-align: center;
	}

	article .image {
		display: inline-block;
	}
	.see-more {
		display: none;
	}
}

/* 661px  - 768px LANDSCAPE */
@media only screen and (min-device-width: 661px)
	and (orientation: landscape)
	and (max-device-width: 768px) {

	#banner {
		background-position-y: -5em;
	}

	#headlines {
		display: flex;
		justify-content: space-around;
	}

	#headlines hr {
		display: none;
	}
	#headlines article {
		max-width: 40%;
		text-align: center;
	}

	#headlines article h2 {
		text-align: center;
	}

	article .image {
		display: inline-block;
	}
	.see-more {
		display: none;
	}
	#videos {
		display: flex;
		justify-content: space-around;
	}

	.video {
		width: 47%;
	}
}

/* 769px  - 989px PORTRAIT */
@media only screen and (min-device-width: 769px)
	and (orientation: portrait)
	and (max-device-width: 989px) {

	#banner {
		background-position-y: -5em;
		height: 19.4em;
	}

	#current-game {
		font-size: 1.4em;
	}

	#current-game>.date {
		margin-bottom: 0;
	}
	#headlines {
		display: flex;
		justify-content: space-around;
	}

	#headlines hr {
		display: none;
	}
	#headlines article {
		max-width: 40%;
		text-align: center;
	}

	#headlines article h2 {
		text-align: center;
	}

	article .image {
		display: inline-block;
	}
	.see-more {
		display: none;
	}
	#videos {
		display: flex;
		justify-content: space-around;
	}

	.video {
		width: 47%;
	}
}

/* 769px  - 989px LANDSCAPE */
@media only screen and (min-device-width: 769px)
	and (orientation: landscape)
	and (max-device-width: 989px) {

	#banner {
		background-position-y: -5em;
		height: 19.4em
	}

	#current-game {
		font-size: 1.4em;
	}

	#current-game>.date {
		margin-bottom: 0;
	}
	#headlines {
		display: flex;
		justify-content: space-around;
	}

	#headlines hr {
		display: none;
	}
	#headlines article {
		max-width: 40%;
		text-align: center;
	}

	#headlines article h2 {
		text-align: center;
	}

	article .image {
		display: inline-block;
	}
	.see-more {
		display: none;
	}
	#videos {
		display: flex;
		justify-content: space-around;
	}

	.video {
		width: 47%;
	}
}

/* >= 990px PORTRAIT */
@media only screen and (min-device-width: 990px)
	and (orientation: portrait) {

	#banner {
		height: 27em;
	}

	#current-game {
		font-size: 2em;
	}

	#current-game>.date {
		margin-bottom: 0;
	}
	#headlines {
		display: flex;
		justify-content: space-around;
	}

	#headlines hr {
		display: none;
	}
	#headlines article {
		max-width: 40%;
		text-align: center;
	}

	#headlines article h2 {
		text-align: center;
	}

	article .image {
		display: inline-block;
	}
	.see-more {
		display: none;
	}
	#videos {
		display: flex;
		justify-content: space-around;
	}

	.video {
		width: 47%;
	}
}

/* >= 990px LANDSCAPE */
@media only screen and (min-device-width: 990px)
	and (orientation: landscape) {

	#banner {
		height: 27em;
	}

	#current-game {
		font-size: 2em;
	}

	#current-game>.date {
		margin-bottom: 0;
	}

	#headlines {
		display: flex;
		justify-content: space-around;
	}

	#headlines hr {
		display: none;
	}

	#headlines article {
		max-width: 40%;
		text-align: center;
	}

	#headlines article h2 {
		text-align: center;
	}

	article .image {
		display: inline-block;

	}
	.see-more {
		display: none;
	}

	#videos {
		display: flex;
		justify-content: space-around;
	}

	.video {
		width: 47%;
	}
}

