#main-content>hr {
	margin: 1em 0;
}

.see-more {
	text-align: right;
	width: 95%;
	display: inline-block;
}

#game-track {
	display: flex;
	justify-content: center;
	font-family: 'Bitter', serif;
	border: #333 8px;
	border-style: double hidden;
	color: #FFF;
}

.game-summary {
	border: 1px #AAA solid;
	padding: 0 0.5em 0.5em 0.5em;
	background-color: #000;
	cursor: pointer;
}

.game-summary>.matchup {
	text-align: center;
}

.game-summary>.date {
	color: #C70F17;
	font-size: 0.7em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 1em;
}

.game-summary>.results { text-align: center; }
.outcome { font-weight: 600; }
#current-game { flex-grow: 1; }
.loss { color: #C70F17; }
.win { color: #6D6; }

#posts article {
	padding: 1em 0 1em 0;
	cursor: pointer;
}

#posts article:nth-child(1) .image {
	background: no-repeat url(../images/posts/new-owner.jpg);
	background-position: -11.75em -5.5em;
}

#posts article:nth-child(3) .image {
	background: no-repeat url(../images/posts/tryouts.jpg);
	background-position: -33em -13em;
}

article .image {
	width: 15em;
	height: 8em;
	display: none;
	border-radius: 0.5em;
}

#posts article h1 {
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	padding: 0 1em;
}

#posts article h2 {
	color: #800;
	text-align: right;
	font-size: 0.7em;
	padding-right: 1em;
	text-transform: uppercase;
}

#latest-video h3 {
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #333;
	padding-bottom: 1em;
}


/* <= 400px */
@media only screen and (max-device-width: 400px) {

	#prev-game { display: none; }
	#next-game { display: none; }

	.game-summary>.matchup {
		font-size: 1.4em;
	}
}

/* 401px  - 450px */
@media only screen and (min-device-width: 401px)
	and (max-device-width: 450px) {

	.game-summary>.matchup>span {
		display: block;
		text-align: center;
	}
}

/* 451px  - 660px PORTRAIT */
@media only screen and (min-device-width: 451px)
	and (orientation: portrait)
	and (max-device-width: 660px) {

	.game-summary>.matchup>span {
		display: block;
		text-align: center;
	}
}

/* 451px  - 660px LANDSCAPE */
@media only screen and (min-device-width: 451px)
	and (orientation:landscape)
	and (max-device-width: 660px) {

	.game-summary>.matchup>span {
		display: block;
		text-align: center;
	}
}

/* 661px  - 768px PORTRAIT */
@media only screen and (min-device-width: 661px)
	and (orientation: portrait)
	and (max-device-width: 768px) {

	#latest-video {
		max-width: 400px;
	}

	#posts {
		display: flex;
		justify-content: space-around;
	}

	#posts hr {
		display: none;
	}
	#posts article {
		max-width: 40%;
		text-align: center;
	}

	#posts article h2 {
		text-align: center;
	}

	article .image {
		display: inline-block;
	}
	.see-more {
		display: none;
	}
}

/* 661px  - 768px LANDSCAPE */
@media only screen and (min-device-width: 661px)
	and (orientation: landscape)
	and (max-device-width: 768px) {

	#posts {
		display: flex;
		justify-content: space-around;
	}

	#posts hr {
		display: none;
	}
	#posts article {
		max-width: 40%;
		text-align: center;
	}

	#posts article h2 {
		text-align: center;
	}

	article .image {
		display: inline-block;
	}
	.see-more {
		display: none;
	}
	#videos {
		display: flex;
		justify-content: space-around;
	}

	.video {
		width: 47%;
	}
}

/* 769px  - 989px PORTRAIT */
@media only screen and (min-device-width: 769px)
	and (orientation: portrait)
	and (max-device-width: 989px) {

	#current-game {
		font-size: 1.4em;
	}

	#current-game>.date {
		margin-bottom: 0;
	}
	#posts {
		display: flex;
		justify-content: space-around;
	}

	#posts hr {
		display: none;
	}
	#posts article {
		max-width: 40%;
		text-align: center;
	}

	#posts article h2 {
		text-align: center;
	}

	article .image {
		display: inline-block;
	}
	.see-more {
		display: none;
	}
	#videos {
		display: flex;
		justify-content: space-around;
	}

	.video {
		width: 47%;
	}
}

/* 769px  - 989px LANDSCAPE */
@media only screen and (min-device-width: 769px)
	and (orientation: landscape)
	and (max-device-width: 989px) {

	#current-game {
		font-size: 1.4em;
	}

	#current-game>.date {
		margin-bottom: 0;
	}
	#posts {
		display: flex;
		justify-content: space-around;
	}

	#posts hr {
		display: none;
	}
	#posts article {
		max-width: 40%;
		text-align: center;
	}

	#posts article h2 {
		text-align: center;
	}

	article .image {
		display: inline-block;
	}
	.see-more {
		display: none;
	}
	#videos {
		display: flex;
		justify-content: space-around;
	}

	.video {
		width: 47%;
	}
}

/* >= 990px PORTRAIT */
@media only screen and (min-device-width: 990px)
	and (orientation: portrait) {

	#current-game {
		font-size: 2em;
	}

	#current-game>.date {
		margin-bottom: 0;
	}
	#posts {
		display: flex;
		justify-content: space-around;
	}

	#posts hr {
		display: none;
	}
	#posts article {
		max-width: 40%;
		text-align: center;
	}

	#posts article h2 {
		text-align: center;
	}

	article .image {
		display: inline-block;
	}
	.see-more {
		display: none;
	}
	#videos {
		display: flex;
		justify-content: space-around;
	}

	.video {
		width: 47%;
	}
}

/* >= 990px LANDSCAPE */
@media only screen and (min-device-width: 990px)
	and (orientation: landscape) {

	#current-game {
		font-size: 2em;
	}

	#current-game>.date {
		margin-bottom: 0;
	}

	#posts {
		display: flex;
		justify-content: space-around;
	}

	#posts hr {
		display: none;
	}

	#posts article {
		max-width: 40%;
		text-align: center;
	}

	#posts article h2 {
		text-align: center;
	}

	article .image {
		display: inline-block;

	}
	.see-more {
		display: none;
	}

	#videos {
		display: flex;
		justify-content: space-around;
	}

	.video {
		width: 47%;
	}
}

