li {
	list-style-type: none;
}

.name {
    text-decoration: none;
}

.player h1 {
	text-align: center;
	background-color: black;
	border: 4px solid #C70F17;
	padding: 0.1em;
}

.name {
	font-weight: 800;
	font-size: 1.3em;
	color: #333;
}

.player {
	padding: 0.5em;
	background-color: #EEE;
	border: 1px #AAA solid;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 35em;
}

.player .number::after {
	content: " • ";
}

.player .photo {
	width: 100%;
	border-radius: 0.3em;
}

.details {
	display: flex;
	justify-content: space-between;
}

.number, .position {
	font-size: 1.3em;
}

.vitals {
	min-width: 6em;
}

.height, .weight {
	font-style: italic;
}

.experience {
	border-top: 1px solid #999;
	margin-top: 0.5em;
	padding-top: 0.5em;
}

.experience li {
	font-size: 0.8em;
    font-weight: 600;
    padding-left: 1em;
}

@media only screen and (max-device-width: 532px) {
}

@media only screen and (min-device-width: 533px)
	and (orientation: portrait)
	and (max-device-width: 660px) {
}


@media only screen and (min-device-width: 533px)
	and (orientation:landscape)
	and (max-device-width: 660px) {
}

@media only screen and (min-device-width: 660px)
	and (orientation: portrait)
	and (max-device-width: 768px) {
}

@media only screen and (min-device-width: 660px)
	and (orientation: landscape)
	and (max-device-width: 768px) {
}

@media only screen and (min-device-width: 768px)
	and (orientation: portrait)
	and (max-device-width: 989px) {
}

@media only screen and (min-device-width: 768px)
	and (orientation: landscape)
	and (max-device-width: 989px) {
}

@media only screen and (min-device-width: 990px)
	and (orientation: portrait) {
}

@media only screen and (min-device-width: 990px)
	and (orientation: landscape) {
}

